[2020-10-15 12:01] #1864 closed, assigned to nobody

[2020-10-15 12:02] #1862 closed, assigned to nobody

[2020-10-15 12:02] #1856 closed, assigned to nobody

[2020-10-15 12:12] #1833 closed, assigned to nobody

[2020-10-15 12:13] #1771 closed, assigned to nobody

[2020-10-15 12:13] #1750 closed, assigned to nobody

[2020-10-15 12:14] #1727 closed, assigned to nobody

[2020-10-15 12:14] #1725 closed, assigned to nobody

[2020-10-15 12:16] #1689 closed, assigned to nobody

[2020-10-15 12:19] #1601 closed, assigned to nobody

[2020-10-15 12:19] #1494 closed, assigned to nobody

[2020-10-15 12:20] #1349 closed

[2020-10-15 12:20] #1345 closed

[2020-10-15 12:20] #1263 closed

[2020-10-15 12:21] #1246 closed

[2020-10-15 12:24] #1756 closed, assigned to nobody

[2020-10-16 07:09] CollaboratorGCM opened #1879 "SAMBA startup after first use."
The SAMBA Simple Management utility is an outstandingly simple to use SAMBA setup and run utility. One of the very best ever for simple users. It has been flawless for years in the simple helpful things it does. IMHO this has been one of the best wizards ever designed for easy understanding and use by any user; namely MAC or Windows or Linux users with the utility's "in-screen" information.

**Thi

[2020-10-16 08:42] peabee commented on #1877
UPupGG+D-Alpha+4 has been built using init-experiment ......
BUILD_FROM_WOOF='init-experiment;8f4c1e337;2020-10-12 19:10:19 +1000'
https://sourceforge.net/projects/zestypup/files/Upup-Groovy%2B/alpha/

[2020-10-16 11:01] gyrog commented on #1877
@peabee,
Thanks, I'll give it a go.

[2020-10-18 07:12] bigpup1 opened #1880 "Linux team approves new terminology, bans terms like 'blacklist' and 'slave'"
https://www.zdnet.com/google-amp/article/linux-team-approves-new-terminology-bans-terms-like-blacklist-and-slave/
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=49decddd39e5f6132ccd7d9fdc3d7c470b0061bb

[2020-10-18 07:29] 01micko commented on #1880
How is this a woof-ce issue? We will follow what is appropriate for stable puppy.

[2020-10-18 07:31] 01micko commented on #1877
[eSlacko64](https://forum.puppylinux.com/viewtopic.php?p=7862#p7862)

[2020-10-18 16:58] CollaboratorGCM commented on #1880
IMHO, I see benefit to what is suggested. And, should be a target for nomenclature used in PUPs going forward.

We should desire any/every approach to attract community membership in PUPPY use. If this is mentioned going forward, it has the potential to attracting consideration to the PUPPY fold for newbies sensitive to this. Thus, could be a benefit without penalty.

Just a thought for considerat

[2020-10-18 17:16] CollaboratorGCM opened #1881 "Utitlity to test I/O devices."
@Smokey01 has a utility that I saw, which seems like one development may want for user benefit.

It intends to give a measure of the performance of I/O devices. It is a small GUI and affords users to see the performance of such devices as USB sticks (which we know is all over the map both in units themselves and the ports that they are plugged) I have one PC that has 4 USB-A ports for both usb v2.

[2020-10-19 00:01] 01micko commented on #1880
Ok, I understand the sensitivity of the issue, don't get me wrong. But until things filter through from upstream (Ubuntu, Debian, Slackware etc) then there isn't a lot we can do. I'll re-open so it can be discussed I suppose.

[2020-10-19 13:54] CollaboratorGCM commented on #1880
I see this as **a development understanding** vs a discussion.

Our desire should be (and is) focused to be as friendly to attracting Puppy Linux interest, just as it has demonstrated in past product development. Thus, many will see a commitment in our stride to present that; as well as, **all** the compelling innovations that this group has done.

As such leaving this open becomes a development t

[2020-10-25 16:35] gyrog opened #1882 "Support MOK's in Puppy with 'mokutil' - a helper utility for MOK Manager"
Now that we can have uefi Puppies that use MOK's, it's probably a good idea if Puppy supports a utility that helps managing MOK's, i.e. 'mokutil'.

'mokutil' provides facilities to display, delete, clear, export and import keys on your machine.
Although it doesn't change anything in real time, it makes requests to the actual MOK Manager to act on during the next boot.
It's quite useful for cleanin

[2020-10-26 08:00] gyrog commented on #1882
FYI,
I changed kernels in fossapup64  to my new 5.4.72(64bit) kernel, and 'efivar' and 'mokutil' both work fine.
('efivar' and 'mokutil' installed via PPM.)

[2020-10-26 08:29] peabee commented on #1882
Is this just for 64bit systems?

[2020-10-26 12:43] gyrog commented on #1882
I haven't tried any 32bit systems, yet. Although I suspect that the kernel config only doing 1 'efivar' method would still make sense, and the 'efivarfs' method is preferred.

I've started with 64bit systems because:
1. Some times I've seen the assumption that "uefi" implies 64bit.
2. 32bit sysems may be a vanishing breed.
3. And I wanted to get to a point where we had at least some "normal" Puppi

[2020-10-26 22:15] CollaboratorGCM commented on #1882
There isn't enough hours in the day to continue to build for 32bit systems.
64bit systems have been mainstream from manufacturers for about 15 years
with a "blip" only occurring when there was a shortage and manufacturers
fill with the brief intro of Netbooks. Since then, NO x86 Manufacturer has
bothered to repeat that mistake.

Developers time is precious, IMHO!

[2020-10-27 16:34] gyrog commented on #1882
I've had no luck with bionicpup32, after a number of kernel compiles with varying configs, no go. So no more.

ScPup64:
With my 5.4.72-gyro-64 kernel,
'/etc/init.d/efivarfs' works
'efivar' from PPM, works
'mokutil' from my 'mokutil-20201024-x86_64.pet', works.
BUt another efi utility 'efibootmgr' from PPM, does not work, and compiing the source fails.
So ScPup64 is ok for playing with MOK's, but n

[2020-10-29 13:29] gyrog commented on #1882
My wonderful working fossapup64, didn't work at all on my "nasty" Lenevo Ideapad 100s.
It's "nasty" because it is a 64bit cpu but it boots 32bit Windows via 32bit uefi, and it has the most limited "uefi/bios" I've ever seen, on it's motherboard.
So I recompiled kernel 5.4.72-gyro-64, with the extra config "CONFIG_EFI_MIXED=y" and it worked,
at last a Puppy that can run the efi utilities, on a "ran

[2020-10-30 13:14] gyrog commented on #1877
I've committed a number of patches to 'init-experiment'.
These are mostly to do with improved 'isoboot' support, which now includes support for a "iso_dev=" boot parameter, that allows for identifying the partition that contains the ISO file, to the 'init' script.

@01micko, sorry, I was so focused on what I ws going to call these commits that I forgot to add #1877

[2020-10-30 16:23] sc0ttj commented on #1860
Puppy version: FossaPup64 9.5

I was trying to find out which package the `/usr/sbin/puppyapps` script comes from:

- it is not listed as an installed package (built-in)

![puppyapps-notfound](https://user-images.githubusercontent.com/2726610/97730256-895a1e80-1acb-11eb-9dcb-2d234e50cbaf.png)

I tracked it down, by knowing that the 'noarch' repo "is a thing"... Other users (beginners) might not kn

[2020-11-06 16:05] bigpup1 opened #1883 "pupsave-backup program bug"
pupsave-backup v1.2.1

If you select a different location to put the backup.
It says it is used when the process completes, but the backup is placed in the default location.
/mnt/home/(name of the frugal install directory)

All other options seem to work OK and it does make a good working backup of the save.

Update:
This seems to happen if you select to compress the backup.
If you do not compress

[2020-11-10 07:23] peabee commented on #1877
@gyrog
@01micko
Can init-experiment be merged back into testing now?

[2020-11-10 09:55] gyrog commented on #1877
'init-experiment' now contains all my patches for dealing with "waiting" in 'init'.
I am not aware of any "problems" with the code, I had a scare with "UPupGG+D-Alpha+4" , but that turned out to be an 'f2fs' issue.
(The boot failed because I put the "install directory" on an f2fs partition, but 'f2fs' support was in a module.This is all fixed in 'UPupGG+D-20.10+0.iso'.)

Short answer: I have no pr

[2020-11-10 11:14] 01micko commented on #1877
IMHO, taking into account @gyrog 's last response, it can be merged but kept alive for future related experimentation.

My tests have proved sane in slacko booting on various media and in raspup booting from sd card.

[2020-11-10 11:55] gyrog commented on #1877
@01micko.
Thankyou.

Excuse my git ignorance, but how is a "merge" done, and who is to do it?

I could do it the long way, I have patch files that repesent each of the commits, so I could "checkout"  the 'testing' branch, and do new commits to 'testing', but I suspect that's not a real git "merge", and it would not include @01micko's commits.

[2020-11-10 17:19] CollaboratorGCM opened #1890 "Naming Remasters"
This is one item I have been "forgetting" top ask for years: BUt, here goes.

**REMASTERs**
There is nothing wrong with the "remaster" subsystem in Puppy Linux. So this request is for an additional feature.

Today, there are multiple ways to have the system show/tell the current running PUP. Its name is the name assigned by the property-owner developer; namely by the distro author.
![Send2GIT](htt

[2020-11-11 02:46] 01micko commented on #1877
Anyone who has write access to woof-CE repos can merge. As for "who should", well whomever deems it necessary. Obviously that user should be confident to do it.

Another way is to open a pull request for the branch, but I'm not sure if anyone can do that (possibly) or it has to be the creator of that branch (me).

---

IIRC this is how to merge:

Say your local branch is currently on origin/init-e

[2020-11-11 03:18] 01micko commented on #1877
@gyrog I have merged the necessary PR's to testing and consolidated init-experiment by merging testing into it. Now it is a matter of just merging init-experiment back into testing. I'll leave it to you.. just remember your local branch of init-experiment is now behind the remote. :wink:

[2020-11-11 07:43] gyrog commented on #1877
@01micko, Thanks.
I've done:
git pull on init-experiment
git checkout testing
git pull on testing

So I'm ready to go with "merge" and "push"?

Am I right in assuming that I need to do this before any more "pull" requests are made against 'testing'?
Otherwise the whole "consolidate" process needs to be done again.

[2020-11-11 08:23] 01micko commented on #1877
yep @gyrog sounds right.

Once merged do
[code]

on testing to see if it seems sane. Then push to `testing`

Thats it.

[2020-11-11 08:46] gyrog commented on #1877
Done.

[2020-11-11 09:17] 01micko commented on #1877
@akhilman the OP. Have you tried any of the releases mentioned in this thread? If so, is your issue solved?

Many thanks @gyrog @peabee and @jamesbond3142

[2020-11-11 10:23] 01micko commented on #1877
@gyrog there are new commits to `testing` which I have merged to `init-experiment`

[2020-11-11 11:04] akhilman commented on #1877
UPupGG+D-Alpha+4  built using init-experiment works fine for me.

[2020-11-11 11:45] gyrog commented on #1877
@akhilman, great.
@01micko, thanks, I've got them with a "git pull".

[2020-11-11 12:01] 01micko commented on #1877
@akhilman thanks. Then we can close this thread and @gyrog I suggest to open a new issue for relevant `init-experiment` ideas so we can further discussion.

[2020-11-11 12:01] #1877 closed, assigned to nobody

[2020-11-11 12:13] gyrog commented on #1877
My next project for 'init-experiment' will be in the following issue:
shutdownconfig: bug + SAVESPEC enhancement + autosave enhancement #1867

[2020-11-11 12:39] gyrog commented on #1867
Now that I'm out of the "waiting" rabbit-hole, I am back here.
The first set of commits to 'init-experiment' will be to implement a SAVESPEC file, a bit like a SAVEMARK file.
Instead of writing a SAVEMARK file, 'shutdownconfig' will write a SAVESPEC file to the install directory when the save location is modified in 'shutdownconfig'. This SAVESPEC file can specify the save partition, the save dire

[2020-11-11 18:02] sc0ttj opened #1893 "Better multiple keyboard input methods/backends"
Maybe we should think about creating a generic `langpack-input-methods` package, which contains `fcitx`, `scim`, and maybe some other stuff, to make it easier to install alternative input methods.

If we can build a package that works on lots of different versions of Puppy, it could live in the common32 and common64 repos.

If we need to build a specific version of the package for each Puppy we cr

[2020-11-11 18:30] sc0ttj commented on #1893
Also note the extra work done, and packages used, to make Chinese language pups: https://forum.puppylinux.com/viewtopic.php?f=138&t=297

[2020-11-11 21:03] sc0ttj opened #1894 "Man page reading"
Puppy doesn't make it very easy to read man pages.. The problem is `pman`:

1.  If running X, as far as I can tell, it forces you to view the desired man in a browser.
2. It also makes you give the section in order to get straight to the man page (so `ffmpeg.1`, not just `ffmpeg`)
3. It searches only a handful of sites
4. It often returns outdated manpages, not for the actual packages versions you

[2020-11-12 13:44] gyrog commented on #1894
Back in the day, Puppy went to great lengths to have the release iso file < 100MiB.
One way of helping  to do this was to not install any man pages, and get the 'man' command to display them from the Internet, hence the 'man' script that is still part of Puppy.
All 'man' pages are equally available, (not just those of installed packages), and virtually no space used.

[2020-11-12 15:24] rizalmart opened #1899 "Improving puppy modularity"
Puppy today can be modularized by the following
Puppy SFS - Main puppy rootfs
ZDRV - Kernel module layered mountpoint at /lib/modules
FDRV - Firmware drivers layered mountpoint at /lib/firmware

YDRV - Extras layered mountpoint at /opt

ADRV - Application suites.

The problem here was ADRV unlike ZDRV, FDRV, and YDRV which the content was isolated in a directory. ADRV was scattered everywhere on t

[2020-11-13 11:48] gyrog commented on #1867
Here is the content  of a typical SAVESPEC file:
[code]

[2020-11-13 18:11] sc0ttj commented on #1899
I like the idea of this...

I do like the idea of at least somewhat following the convention of having

- "base" packages at `/bin` and `/usr/bin`
- user installed packages at `/usr/local/bin`, `/usr/local/share/` (etc)

However, we don't have control over the contents of the Debian/Ubuntu/Slackware packages, which also seem **not** to follow this convention.

So while I like the idea, is it even

[2020-11-13 18:13] sc0ttj commented on #1894
I know all this...  I'm **not** proposing we add actual man pages into the puppy SFS ... I'm proposing we make the `man` command better at finding the right man pages, and better at showing them in a terminal.

..so `pman` could be updated? ...but I wanna check the "issues" I have with it are indeed correct (and I'm not using it wrong or something)

[2020-11-13 18:56] peabee commented on #1899
I am against this idea / proposal. The current implementation is flexible and does not need to be constrained in any additional ways. The only thing defined about the existing sfs's is the order in which they are layered - their content can be anything although the z and f do conventionally contain the kernel and firmware - but they don't have to and thats good.
64-bit systems have much bigger pro

[2020-11-14 01:02] rizalmart commented on #1899
@peabee do you have any ideas on how to make ADRV modular? The remaster script right now can create FDRV aside from ZDRV. Adding create ADRV on remaster script will be a big bonus

[2020-11-14 08:49] s243a commented on #1899
By default, all changes that aren't part of the FDRV and ZDRV could be placed into the ADRV unless they modify a file in the base sfs file. One could do this by checking to see if a file that changed is part of the basesfs file.

There could be a mechanism to place a selected amount of packages (and dependencies) into the basesfs file.

[2020-11-14 10:31] peabee commented on #1899
Hi @rizalmart / mistfire & @s243a
Woof-CE already has features to make ADRIVE YDRIVE & FDRIVE in _00build.conf
but my adrv predates them and I don't use them - I hand construct the adrv, place it in sandbox3 and have code in EXTRA_COMMANDS to move the adrv into the build.
If I were to remaster (which I never do) I would probably remaster WITHOUT the adrv being loaded.
There is a danger in trying t

[2020-11-15 02:00] 01micko commented on #1882
There is an efivar slackbuild. Only need to install 'pkgtools' from PPM to build it. https://slackbuilds.org/repository/14.2/libraries/efivar/

Ok, so it works but I've no idea what to do with it! I can list MOKs anyway. (stock slacko64 atm with slightly different kernel to what I put in eslacko - 5.4.77 --- I had the CONFIG_EFIVARS AND EFIVARFS so disabled the former )

BTW: latest mokutil wouldn

[2020-11-15 09:31] gyrog commented on #1882
Eventually you will need it to clean-out old MOK's, key's usually have a "used by" date.
You need 'mokutil' for that, but it depends on 'efivar'.

My intention is to make available Puppies that can do this, if stock-standard ones don't.
I'm happy to have 1 now, but it would be nice to have more than 1.
(Before this i had to use a "Live Fedora" or "Live Debian" stick.)

I'm currently in  the "shutd

[2020-11-15 10:33] gyrog commented on #1899
In Puppy Linux, .sfs files contain the files in the appropriate directories, to make them "fit for purpose".
When an .sfs file's mount point is added to the aufs stack as a branch, the files simply appear in the directories where they are needed.
So binaries are already in appropriate directories, libs are already in appropriate directories, ".desktop" files are in the appropriate directory, etc..

[2020-11-15 18:17] CollaboratorGCM commented on #1882
I recognized the importance of this effort.

I would like those who are following this, to ALSO consider WoofCE PUPs generated without GRUB2 utilities built in. And, those new PUPs should have Menu reflecting the presence of GRUB2. Right now, that is NOT present.

I think WoofCE recognizes the need for this update.

[2020-11-15 23:53] rizalmart commented on #1899
Another problem with SFS modules was PPM and Pkg unable to see those packages/components loaded by SFS-modules.

In TazPuppy solves this by making the installed packages database dynamic. Since tazpkg creates folders of a packages entry it can easily rebuild installed package database.

SFS modules created by TazPuppy has this folders like this inside SFS modules

/var/lib/tazpkg/installed/foo1

T

[2020-11-16 10:56] peabee commented on #1899
Assuming we are talking about frugal installs and NOT full installs....
PPM has nothing to do with SFS....
Packages (e.g. .pets) place items into the savearea which may subsequently have to be removed if the package is no longer needed.
SFS don't pollute the savearea (other than for any dynamic config items the app needs) - they can be simply removed just by removing the SFS so all the complicatio

[2020-11-16 15:24] gyrog commented on #1867
I'll ask this here as well as in the forum.

What partitions should be offered by 'shutdownconfig' if none is specified by PSAVEPART?
Currently it offers all the partitions on  the same device, but with SAVESPEC in place, we can now offer partitions on other devices.
We could offer all known partitions.
Or exclude small partitions < 600MiB
Or add only Linux partitions from other devices, to the ex

[2020-11-17 00:16] CollaboratorGCM opened #1901 "IP calc is an important tool yielding information used in LAN planning or LAN knowledge"
This was on my list to report years ago, but never did.

There is a Puppy ipcalc which has issues and there is an (url=http://technicalworldforyou.blogspot.com/2013/06/ipcalc-command-line-tool-for.html)"official" ipcalc(/url) that works without issues.

Would the WoofCE developer(s) take a look at replacing with the one in the link above?

[2020-11-17 00:31] CollaboratorGCM opened #1902 "IPCALC utility in WoofCE"
This was on my list to report years ago, but never did.

There is a Puppy ipcalc which has issues and there is an **["official" ipcalc](http://technicalworldforyou.blogspot.com/2013/06/ipcalc-command-line-tool-for.html)** (a FossaPUP compatible version) that works without issues.

Would the WoofCE developer(s) take a look at replacing with the one in the link above?

[2020-11-18 18:51] sc0ttj commented on #1899
I agree with peabee... But for completely different reasons..

This is not quite correct.

Pkg actually _can_ process SFS files as normal packages, and know their contents, and if they are installed or not..

But you have to create the SFS using Pkg for best results..

I plan to improve it a bit, buts it's more or less working fine.. IIRC..

(Pkg creates SFS packages with a pinstall.sh and a ~/.pa

[2020-11-18 18:55] sc0ttj commented on #1899
And speaking of ADRV etc... I'm just gonna put it out there: "adrv", "zdrv", "fdrv"? ....Really?!

They should be called something helpful, not cryptic and weird..

Like

[code]
( ^ bear in mind I don't actually know if the zdrv is the actual kernel, or modules for it or what .. but you get the idea)

If `x-puppy-9.5.sfs` is present, we mount..

..doing it like that also opens up the potential for

[2020-11-18 23:41] rizalmart commented on #1899
@sc0ttj I got your point however on #3 that you said upon inspecting the contents of SFS I noticed that there is no specs file just like in PET packages. Without this PPM will continue to download deps even its already exists because of loaded sfs which consumes more disk space.

I suggest that adding specs files upon creating SFS modules wil help. However PPM reads only one line on pet.specs upon

[2020-11-20 00:39] CollaboratorGCM commented on #1899
@sc0ttj , Thanks! Clear file representation in todays world helps speed adoptions.

[2020-11-20 22:24] sc0ttj commented on #1899
Indeed.. Here's some fun facts:

- 90% of people leave a webpage after just under 2 seconds of waiting for it, according to the best research..
- the "most engaging" (longest avg time being read) articles in UK get 6 mins or so (for 6,000 words, imgs, etc)
- most articles are looking at more like 50 seconds if they're lucky
- people rarely bother to get more than 1/3 of the way down a page

..Here

[2020-11-22 16:39] sc0ttj opened #1904 "Make `new2dir` support more build methods"
Currently the `new2dir` script must be used like so: `new2dir make install`

It checks to make sure ` make install` is indeed what it was passed.

[code]

I changed this to

[code]

And this enabled me to package up some stuff that was built using `ninja`.

It should should be easy enough to do the same for `meson` and `samurai` (a ninja-compatible build tool).

[2020-11-22 18:54] gyrog commented on #1867
i'm not sure it this is a promise or a warning, but I haven't forgotten about the "aufosave" part of tthe title of this issue.
My next patch to 'shutdownconfig' will include an "autosave" facility for saving on a Linux partition.
It will automatically create a save-folder, but there will be some kind of trigger so it can be enabled/disabled by the user.

My goal is that "f2StickPup" will setup a u

[2020-11-23 05:31] 01micko commented on #1904
No worriies, why don't you include fixes for meson and samurai and issue a PR?

[2020-11-26 17:36] #1904 closed, assigned to nobody

[2020-11-27 21:30] 01micko commented on #1882
`mokutil` will be in the next iteration of **eslacko64**

As will `sbsigntools` > devx

Kernels are updated. 5.4.80 is built with very similar options to @gyrog 's config a few posts up - including CONFIG_EFI_MIXED=y

Now, is there any point mounting `efivarsfs` if secure boot is turned off?

[code]

I want to refine the init.d script in the pet posted earlier.

BTW - the source I used for mokutil

[2020-11-28 02:27] gyrog commented on #1882
Yes.
I think it's a catch22 situation, it efivarfs is not mounted then mokutil can't tell you anything.

[2020-11-28 06:31] 01micko commented on #1882
Hmmm efivarfs is causing a kernel crash for me on my ryzen box at shutdown. I can't figure out how to `umount` the mountpoint cleanly either - busybox mount nor mount-FULL, both segfault and crash the system.

Haven't seen anything on my dell laptop. Works ok I think on that.

[2020-11-28 14:32] dimkr commented on #1847
I got it to boot, but it's a "full installation" because woof-CE, init scripts, etc' all assume it's either x86 and any installation method, or ARM and a "full installation" on a SD card.

A "frugal" installation would be more convenient on Chromebooks, because it's easier to repair, and makes it easier to free space - these machines have a 16 GB SSD, and it's very little.

I started working autom

[2020-11-28 18:44] gyrog commented on #1882
I have not seen this problem in any of my testing, so I have no suggestions.
My testing was all done on an "Intel i3".
I have never tried to "umount" efivarfs.

Hmm.., could this be a "Slackware" issue, could you push this upstream??

I do remember putting "Slacko" into my "too-hard" basket for this stuff.

[2020-11-28 19:54] 01micko commented on #1882
Possibly but I only have a -current install (not 14.2)

I'll try Linux 5.9.11 first.

---

EDIT:
5.9.11 exhibits the same issue... _but_ I can't blame slackware just yet, or the kernel.
There is a god awful bug (few of them actually) in `/etc/rc.d/rc.shutdown`. I don't know how any machine can shutdown cleanly using a **save folder**. A save file on NTFS doesn't dismount cleanly either but that is

[2020-12-01 11:35] rizalmart opened #1939 "Just a thought: Auto sandbox installation process for PPM"
I noticed that post-install scripts create some files which does not register to PPM package file list. This makes the filesystem cluttered, fill with broken symlinks adds disk space if certain files was created by post install scripts.

Upon modifying a dotpup handler script (an old puppy package installer handler) by adding a sandbox. An idea struck on my head.

What if that if PPM detected a po

[2020-12-01 16:16] s243a commented on #1939
I like the idea. As a side note, how should modified files be handled?

[2020-12-02 06:11] rizalmart commented on #1939
PPM resets the modified files as possible if the Puppy was not in PUPMODE 2. If the puppy was in PUPMODE 2, that will be tricky. my thoughts about this only covers the newly created files and symlinks. But since the sandbox uses layered filesystem, there is workaround for it.

[2020-12-08 13:37] bigpup1 opened #1947 "Should Woof-CE now be licensed under GPL v3"
As I understand it.
GPL v3 is much improved over GPL v2
https://www.gnu.org/licenses/quick-guide-gplv3.en.html
Seems things that are wrong with GPL v2 have been corrected by GPL v3.

[2020-12-13 11:35] peabee opened #1949 "Sound settings being lost after reboot"
I am getting reports (confirmed by my own tests) that for recent builds, sound settings are being lost after a reboot and are reverting to their default values (BTW the volume default also seems to have changed from 80% to 65% as a possible clue)....
I think @rizalmart has made recent changes in the sound area?

[2020-12-14 06:46] rizalmart commented on #1949
@peabee did you change computer or add/remove a sound device? Alsa settings will revert to default if there's a change on sound device detected on boot

[2020-12-14 06:58] peabee commented on #1949
No - no changes whatsoever - happens on more than one computer .....

[2020-12-14 17:54] rizalmart commented on #1949
My apologies for this statement. Upon checking my commits on alsa. Alsa auto configuration is not yet implemented. I just add support for pulseaudio in alsa service script, the alsa stream will redirected to PulseAudio if pulseaudio was installed and also implement hot restart of alsa

[2020-12-14 17:56] rizalmart commented on #1949
@peabee

My apologies for this statement. Upon checking my commits on woof regarding alsa. The auto configuration is not yet implemented. I just add support for pulseaudio in alsa service script, the alsa stream will redirected to PulseAudio if pulseaudio was installed and also implement hot restart of alsa

[2020-12-16 06:00] CollaboratorGCM commented on #1949
@peabee  ... Confirmed! I thought it was my imagination up until now. I have ONLY an HDMI cable to the 3 PCs and this happens consistently although I rarely reboot them. Requires manual resetting, again, upon each reboot.
P.S. And YES, sessions are save upon shutdown before reboot.

[2020-12-16 07:04] rizalmart commented on #1949
This link might help
[Woof-CE search link asound](https://github.com/puppylinux-woof-CE/woof-CE/search?q=asound&type=code)

[2020-12-16 11:18] bkauler commented on #1835
Thanks for the recommendation, I have changed these from "m" to "y":

CONFIG_MISC_RTSX_USB
CONFIG_MMC_REALTEK_PCI
CONFIG_MMC_REALTEK_USB

No firmware required.

I am using the 5.4.x kernel in my EasyOS Buster-series, even though Debian Buster uses 4.19.x. There have been no issues using the 5.4.x kernel.

Compiling 5.4.84 right now, with those changes. .config file attached...

[2020-12-16 11:24] bkauler commented on #1835
Hmmm, what happened to the attached file, trying again...

Nup, cannot attach. It is gzipped, so should work. Clicking on "Preview" tab does nothing. Hmmm again.

Using SeaMonkey 2.53.5

[2020-12-16 13:51] dimkr opened #1959 "Support for periodic fstrim"
Chrome OS does this even on low-end ARM Chromebooks, and this could extend the lifespan of cheap eMMC storage.

[2020-12-16 23:06] 01micko commented on #1835
Barry just copy paste the text

On Wed, Dec 16, 2020 at 9:24 PM bkauler <notifications@github.com> wrote:

[2020-12-17 04:08] rizalmart commented on #1959
I'm highly doubt about periodic fstrim. I think should be add as an option. Puppy has so called PUPMODE 13. The working data was cache in ram but it saves the working data from ram to save file periodically depending on user settings. This greatly reduces the number of writes of a flash media. However it has disadvantage it requires a good stable power source or good battery. Otherwise the latest

[2020-12-17 07:10] dimkr commented on #1959
PUPMODE 13 means less writing to the SSD, but more data written every time. The bottom line - more writing, or less writing, is an empirical question.

Also, I'm not sure how save files interact with TRIM. The whole idea of an SSD is to move files around as they change, so the flash cells that store a frequently changing file don't fail before all others. If all files are inside a save file, and i

[2020-12-18 07:22] peabee commented on #1949
I have created savefolders after setting volume to 100% for pristine frugal installs of UPupBB (old Woof-CE build which doesn't have problem) and UPupGG which does have the problem....
I notice that UPupBB has /etc/asound.state (762 lines) whereas this is missing in UPupGG
UPupGG does have /etc/asound.conf which UPupBB doesn't but this is just a small file of 3 lines

[2020-12-18 10:30] peabee commented on #1949
Pretty sure the problem is caused by commit:
https://github.com/puppylinux-woof-CE/woof-CE/commit/07243a4be599b2b83a43315c8b8b8416d761fbf8
by @rizalmart
which changed /etc/init.d/10alsa

Proved by reverting the 10alsa in UPupGG to that from UPupBB (using a ydrv) when /etc/asound.state was created and was stored in the save folder and the volume was set to the correct value after a reboot.

[2020-12-18 12:25] rizalmartin commented on #1949
@peabee
That will work if pulseaudio executable binary was present. Do you have pulseaudio binary file installed?

[2020-12-18 15:27] peabee commented on #1949
Definitely NO pulseaudio executable binary

[2020-12-19 01:09] rizalmart commented on #1949
Did you try to run this command on your system?

`which pulseaudio`

[2020-12-19 06:58] peabee commented on #1949
Of course - no response....

[2020-12-19 09:50] peabee commented on #1949
Syntax error line 80 - delete $

[2020-12-19 20:48] 01micko opened #1963 "merging init-experiment"
@gyrog has made some great improvements to saving with the introduction of [SAVESPEC](https://forum.puppylinux.com/viewtopic.php?p=10002#p10002) file. Since he hasn't committed to the `init-experiment` branch for around 3 weeks then I think it's time to merge it into testing and deal with the fall out.

Some of the fallout _may_ be conflicts in some of the recent pull requests. @dimkr @rizalmart

[2020-12-20 01:26] 01micko commented on #1947
Hi @bigpup1

Not IMO. As a matter of fact Linus uses GPLv2 for the Linux Kernel. See [the kernel archives FAQ](https://www.kernel.org/category/faq.html).

[2020-12-20 08:31] dimkr commented on #1963
Thanks for the heads up @01micko, #1948 won't conflict, unless there are new cases where PUPMODE=6 needs to be handled differently. I'll take a more serious look later.

[2020-12-20 10:56] rizalmartin commented on #1949
Then it should be skipped the asound.conf routine for pulseaudio if no pulseaudio was installed

[2020-12-20 12:17] peabee commented on #1949
10alsa could not run at all due to the syntax error on line 80

[2020-12-21 11:24] dimkr opened #1971 "Add support for DNS cache using unscd"
This should make browsing faster, at least with some browsers. By default, Debian's nscd doesn't cache host lookup results, so the package template should override this setting.

[2020-12-24 07:24] #1949 closed, assigned to nobody

[2020-12-25 11:01] dimkr opened #1973 "Missing source code for Puppy packages"
- [x] powerapplet_tray >2.7
- [x] pngoverlay-cairo
- [x] pngoverlay-gtk2
- [x] losetup-222
- [x] pm13tray

[2020-12-26 05:01] CollaboratorGCM commented on #1947
I wonder if the question should be reworded: Should WoofCE upgrade its GPL
based upon new V3 benefits

I dont have any position, personally. If development is NOT restricted,
would we lose or benefit by the upgrade?

[2020-12-26 09:39] dimkr commented on #1947
License compatibility could be an issue. Busybox is GPLv2 - is the combination of GPLv3-licensed woof-CE bits and Busybox in initrd.gz legal?

[2020-12-30 00:30] #1971 closed, assigned to nobody

[2020-12-30 00:32] 01micko commented on #1963
Anyway, I'm back and merged a lot today.. only a few outstanding PRs left now so closing.

[2020-12-30 00:32] #1963 closed, assigned to nobody

[2020-12-30 06:38] 01micko commented on #1973
Here it is..
[powerapplet_tray-2.7-petbuild.tar.gz](https://github.com/puppylinux-woof-CE/woof-CE/files/5753253/powerapplet_tray-2.7-petbuild.tar.gz)

[2020-12-30 06:44] dimkr commented on #1973
Thanks @01micko!

[2021-01-03 06:48] dimkr opened #1991 "Boot times are slow because of many sleep calls"

[2021-01-03 13:38] 01micko commented on #1991
Not just sleep, but many external calls. POSIX shell could be utilised a lot more IMHO.

[2021-01-04 11:03] 01micko opened #1993 "Booting off optical media is broken for saving sessions - all types"
@gyrog - yes I know optical media is dying but it's not dead yet. I can confirm that saving back to optical media is broken in latest slacko 7 and also saving to hard drive or usb. There are no options when shutting down.

Can you take a look please?

[2021-01-04 21:02] CollaboratorGCM commented on #1993
I confirm that ALL of my desktops and laptops boot from their optical
media. But Slacko64 shows problems with the sessions save back to media as
well as having keyboard problems (US/CA) after firstrun.

[2021-01-04 21:05] CollaboratorGCM commented on #1993
And sound discovery when HDMI TV is monitor. This really should be the
default sound in today's world without user intervention.
Or, it should be a firstrun option.

[2021-01-06 06:27] dimkr commented on #1991
Partially fixed by #1995, which probably removes the biggest delay during the init process. I'll do some profiling of rc.sysinit with strace -tt, to see what other low hanging fruits can be fixed without destabilizing Slacko 7.0.

[2021-01-07 17:46] dimkr commented on #1973
@wdlkmpx maybe you know where I can find some of these

[2021-01-07 19:04] woodenshoe-wi commented on #1973
I think the source code for pngoverlay-cairo is in the first comment of issue #1470

[2021-01-08 09:53] 01micko commented on #1973
https://github.com/puppylinux-woof-CE/petbuilds/tree/generic/basic/pkgs/aaa_pup_c

That has pngoverlay-cairo, pngoverlay-gtk and pm13-tray as well as some others.

losetup-222 is actually losetup-2.22 from util-linux. ~~No source or build script has ever been posted AFAIK, but it is statically built.~~
See next..

[2021-01-09 07:55] bigpup1 commented on #1991
A lot of those sleep commands where put into code for older computers.
Puppy was doing things so fast, that the older hardware was not keeping up with totally completing stuff, before going to the next.
This is probably not so much of an issue anymore, with newer computers, that have faster hardware.
But do not go overboard with changing stuff.
Puppy still needs to support older computers.

[2021-01-09 09:57] dimkr commented on #1991
#1995 is safe because it keeps that `sleep 5`. It only makes it happen in the background, and lets the boot process continue, so the desktop is ready by the time the internet connection is up.

I'm thinking - maybe the other `sleep`s can be restricted to x86, and skipped on x86_64 and ARM.

[2021-01-09 10:02] 01micko commented on #1991
Hmmm.. maybe aarch64 instead of arm - or at least _some_ additional condition - just considering the slow case of pi-zero.

[2021-01-09 12:03] dimkr commented on #1991
The additional condition can be ARMv7. Pi Zero and 1 are both ARMv6, and the ARM Chromebooks I'm targeting are ARMv7, like the other Pis (newer Chromebooks are AArch64).

[2021-01-09 23:41] 01micko commented on #1973
losetup-222 buildscript (with link to src) and patch see 44e15f2

[2021-01-10 05:55] dimkr commented on #1973
Thanks! I'll re-open this issue if I find more packages like this.

[2021-01-10 05:55] #1973 closed, assigned to nobody

[2021-01-16 23:51] CollaboratorGCM opened #2003 "GRUB2 Support needed"
We should add full GRUB2 to 2021 WoofCE PUP generation: The utilities are solely needed. We have utilities for GRUB4DOS, but have overlooked those same needs for GRUB2 needs.

[2021-01-19 17:35] dimkr opened #2004 "GTK 3 Support"
I've created a fork of https://github.com/vlastavesely/raleigh-reloaded that mimics the old "Flat-grey-rounded" theme, at https://github.com/dimkr/gtk3_flat_grey_rounded.

I'd like to have dual GTK 2/3 support in ptheme, and the ability to make Flat-grey-rounded the default theme.

[2021-01-20 06:25] dimkr commented on #2004
Thanks for merging #2005, @01micko - that was a good first step. Now, we need GTK 3 themes in ptheme.

[2021-01-20 12:55] dimkr commented on #2004
I built a mostly GTK 3 image for my Chromebook (geany, gpicview, gtkdialog, yad, archiver, transmission, firefox-esr) to see if it feels very different from a pure GTK 2 (except firefox-esr) image.

gtk3_flat_grey_rounded does a very good job, and most gtkdialog based things I've tried look and behave normally. Some dialogs are bigger, and some widgets have more padding (not surprising).

However,

[2021-01-21 02:11] CollaboratorGCM opened #2007 "GTK4"
Puppy still has GTK2 in its underbelly. But WoofCE has move many packages into the modern age.

I AM AWARE of the Herculean effort it is taking to get gtk2 behind us, but I raise the question: If it is going to take a Herculean effort to move away from gtk2 "Why wont we move directly to gtk4, since it is the current 'STABLE' release?"

If we did and if the past timetables of PUP package upgrades i

[2021-01-21 06:16] dimkr commented on #2007
As part of #2004, I built a Puppy with mostly GTK 3 applications, including tools like gtkdialog and yad. The biggest exception is ROX-Filer, which has strong GTK 2 and X11 dependencies. Surprisingly, most things work and look OK when I use the https://github.com/dimkr/gtk3_flat_grey_rounded theme for GTK 2 and 3 (some gtkdialog based applications are maximized horizontally and I'll try to see why

[2021-01-21 07:32] CollaboratorGCM commented on #2007
I DO RECOGNIZE the great work you are doing and the effort to get past the
dependencies that PUPPY base subsystems pose.

It is certainly needed and welcomed. If the lessons learned moving to gtk3
will make it easy to subsequently move to gtk4 based upon those same
lessons, maybe at this time it may make sense to apply the same to move to
the current stable gtk4.

*This assumes* that lessons are t

[2021-01-21 10:14] dimkr commented on #2007
There are practical problems here, moving to GTK 4 isn't easier than moving to GTK 3. Why? Two reasons:
1) Some GTK 2 APIs are dropped from GTK 3, and there's no equivalent. Example: blinking tray icons. This problem needs to be solved whether we go for GTK 3 first, or not, because these APIs are not restored in GTK 4.
2) Some GTK 3 API is marked as deprecated. Some tray icon related APIs fall int

[2021-01-21 10:51] CollaboratorGCM commented on #2007
I see. APIs moved/changed/deprecated going from GTK2 to GTK3 impacts
multiple apps/subsystems.

And a dissimilar set of move/change/deprecates exist from GTK3 to GTK4.
Yielding 2 sets of efforts over the coming years.

Curious: (I haven't looked) But wondering if there is any docs on moving
directly from GTK2 to GTK4 such that only 1 set of steps for coming years?

*P.S.* This is NOT a request. Ju

[2021-01-21 17:13] dimkr commented on #2007
The documentation is pretty good:

https://developer.gnome.org/gtk3/stable/gtk-migrating-2-to-3.html
https://developer.gnome.org/gtk4/unstable/gtk-migrating-3-to-4.html

Both sets of changes are pretty big, but we don't know how many GTK APIs are actively used by applications in Puppy, so it's hard to tell how much of all these changes need to be dealt with.

[2021-01-21 18:13] dimkr commented on #2004
[code]

ROX-Filer is not trivial to port to GTK 3 😠

[2021-01-26 13:01] rizalmart commented on #2007
My pull request for PPM regarding GTK4 is on the way.

[2021-01-26 13:03] rizalmart opened #2011 "zstd support on busybox rpm"
I noticed that PPM failed to install rpm's of newer distro because their rpm is now using zstd. We need to update the busybox in order to extract on zstd compressed rpm.

[2021-01-28 09:52] dimkr commented on #2004
I've started fixing gtkdialog-based stuff in rootfs-{skeleton,packages} to make them support dual GTK 2/3 (or at least, 3). Some widgets are missing (like combobox) and need to be replaced, and some dialogs are now much bigger because all of the padding GTK 3 adds by default.

Screenshot from my Asus C201, with latest https://github.com/dimkr/gtk3_flat_grey_rounded, quicksetup with comboboxtext in

[2021-01-31 06:42] dimkr opened #2025 "CI that builds Slacko from testing"
#1948 adds a CI flow that runs woof-CE from start to finish, including kernel-kit (and my woof-CE fork uploads bootable images to https://github.com/dimkr/woof-CE/releases, so I can test my changes before I open PRs to woof-CE).

It would be nice to have something like this for Slacko, which AFAIK gets built from testing, the way it is and without manual intervention during the build. CI is a huge

[2021-02-01 07:14] 01micko commented on #2025
This is interesting and #2026 will be getting pulled shortly. I had no idea about CI and have read a bit about it now.

[2021-02-01 07:49] 01micko commented on #2025
I can see this being very useful when slackware-15.0 lobs onto the linux scene and automated builds of slacko64-8.0 (or whatever version) can be built remotely and tested locally in initial development stages.

[2021-02-01 08:01] dimkr commented on #2025
In addition, we can use CI to maintain existing Puppies. For example: release a new Slacko 7.0.x every month, as a GitHub release that contains the ISO and the devx, incorporating all Slackware package updates and woof-CE changes. My idea, for the ARM Chromebook, is to have an "over-the-air" update mechanism that pulls the latest release from GitHub, with all the latest security fixes and bug fixe

[2021-02-01 08:03] #2025 closed, assigned to nobody

[2021-02-01 08:11] dimkr opened #2027 "Add automated testing of Slacko64 images produced by CI"
#2025 is fixed, but we want to ensure that the images we build are bootable and working, because making sure that 3builddistro succeeds is not enough.

For example:
- Take a screenshot and compare it to a Slacko64 7.0 screenshot
- Automate boot, do some visible change like changing the theme, reboot with creation of a savefile, and take a screenshot

[2021-02-01 08:38] 01micko commented on #2025
I notice ibiblio takes an age to authenticate - it may be useful to change all default pet repos to nluug.

[2021-02-01 08:51] dimkr commented on #2025
Yesterday I had a 1download that took way more than one hour, with either ibiblio or nluug. Slackware has much faster mirrors in https://mirrors.slackware.com/mirrorlist/.

Luckily, local-repositories is cached between CI runs, so slow mirrors shouldn't be a huge problem. But fast mirrors are good for users too.

[2021-02-01 16:21] dimkr commented on #2025
@01micko Would you like me to add something that publishes a GitHub release once a week or month? This will create a tag, and allow people to try the next Slacko and the current state of the testing branch.

[2021-02-01 19:40] 01micko commented on #2025
Not yet. There are a few issues when looking at the logs - mostly 3builddistro
- kernel modules don't get renamed
-  /bin/ash not in ubuntu
Perhaps a few other issues to fix

[2021-02-01 23:46] 01micko commented on #2025
Ah, see you're onto it!

Just have to fix `pkg`

![s64-19](https://user-images.githubusercontent.com/1019119/106532218-7d06b700-653b-11eb-850d-bd6b0b1c13c1.jpg)

[2021-02-02 00:35] 01micko commented on #2025
Ok, I think the CI will handle pkg ok now.

[2021-02-02 01:05] 01micko commented on #2025
[code]

Ubuntu host misses netpbm?

Also `Pkg` installation is still broken - maybe need an absolute path. Soon I'll get to it.

[code]

[2021-02-02 03:05] 01micko commented on #2025
WOOHOO! :homer:

[code]

**Pkg installed OK**

6ec501a fixed it.. probably could have left the git download routine alone but the zip method is simple enough.

[2021-02-02 03:10] 01micko commented on #2027
Probably should bring dpup buster up to date in woof and add that too. @mrfricks  might want to apply the same to ubuntu derivatives.

[2021-02-02 06:27] dimkr commented on #2027
My plan is to do set up a second CI job with dpup bullseye. My ARM Chromebook port is a dpup and I want to do a 1:1 (or, as close as possible) x86_64 version, with the new PUPMODE 6, etc'. It will be easy to test: there's no save file (always writing to a partition) and it should be easy to make it run a SSH server on first boot, then do the testing over SSH.

[2021-02-04 12:51] dimkr opened #2029 "Consider changing the Squashfs compression algorithm from xz to zstd"
In #1948, I switched from xz with BCJ filters and a large block size, to zstd level 19.

Size hasn't increased very much, and big applications like Firefox start faster, even when I boot from an old and super slow flash drive. The difference is extra noticeable on my ARM laptop, probably because of the relatively weak CPU.

xz used to be a clear winner for many use cases of Squashfs, because its c

[2021-02-04 14:15] dimkr opened #2030 "PulseAudio-compatible tray icon with volume slider"
https://github.com/fernandotcl/pa-applet is a good candidate: pure GTK, no need for gtkmm. There's a fork, https://github.com/mschwager/pa-applet.

[2021-02-04 14:17] dimkr commented on #2004
#1984 is very close to solving this issue. Only ROX-Filer, Xdialog and retrovol use GTK 2 in #1948, and I'm about to drop retrovol.

[2021-02-04 18:21] #2030 closed, assigned to dimkr

[2021-02-04 18:22] dimkr commented on #2030
I forked pa-applet to https://github.com/dimkr/pa-applet and made the libnotify dependency optional.

[2021-02-05 00:26] CollaboratorGCM commented on #2027
Hi @dimkr. Just a question for a build of SSH on Firstboot. Is this step intended to be used for a cloud system? Will it transmit sound?

in the real console world of operation, we get to see the video and the audio and the user behavior for desktop use. Most PUPs have had this as their expected use.

I know the advantage of SSH, though; but there still remains the 99 & 44/10 percent of our users

[2021-02-05 08:11] 01micko opened #2032 "Add a suffix to woof_out* if building from another branch"
.. other than testing or master add the suffix.

The code is simple and below is a diff of merge2out.

[code]

Can anyone see an instance where this will conflict with anything?

@dimkr  in the workflow is it enough to add a wildcard to the (eg) `../woof-out_x86_64_x86_64_slackware64_14.2` dir?

[2021-02-05 08:12] dimkr commented on #2032
A wildcard will work, at least in the `cd` commands. If you don't add the suffix if `-n "$GITHUB_ACTIONS"`, there's no need to change slacko64.yml :)

[2021-02-05 08:20] 01micko commented on #2032
So, when running `merge2out` the suffix won't be appended? (because `-n "$GITHUB_ACTIONS"` fails). Ok :-).

[2021-02-05 08:32] #2011 closed, assigned to nobody

[2021-02-05 08:37] dimkr commented on #2027
Nope.

My idea is to auto-start a SSH server (only if a special "developer mode" is active), then use it to upload and run a VNC server, or use X11 forwarding to test GUI applications.

Another option is to automate keyboard and mouse input somehow, but I'm not sure exactly how to do it in a way that requires only minimal changes to Puppy itself. One of the ideas I had in mind is to use a browser-

[2021-02-05 13:42] dimkr opened #2033 "Support for symlinks in merge2out"
I've started working on dpup Bullseye for x86_64, which takes advantage of all the work I put into #1984 and #1948. Almost pure GTK 3 setup, zstd compression for all SFS images, initrd-less boot, pulseaudio working out of the box and more goodies.

The only differences between the package lists of x86_64 and ARM are one firmware package needed for the ARM laptop I'm targeting as the first supporte

[2021-02-12 15:16] rizalmart opened #2037 "Improving internationalization of puppy core desktop files"
Upon reviewing the Puppy language packs due to
my boredom. I noticed that almost all language packs on puppy required run post-install script to modify puppy components to achieve localization. It's understandable on ROX part, however the part that is not a good idea was to modify the desktop files for the sake of translation. Puppy core applications require modifying the desktop file to localize

[2021-02-17 08:07] dimkr commented on #2004
Another Puppy theme is ready: https://github.com/dimkr/gtk3_polished_blue

[2021-02-20 12:35] dimkr opened #2046 "CI job that builds Slacko 8.0 with weekly releases"

[2021-02-20 14:04] dimkr commented on #2046
@01micko WIP in the ci branch: manually-triggered builds have a "release name" parameter and on successful build, a new tag+release should be created with the ISO and devx:

![Screenshot 2021-02-20 at 16 03 35](https://user-images.githubusercontent.com/1471149/108598258-459a6600-7395-11eb-842f-e3d22b514db9.png)

[2021-02-20 20:48] 01micko commented on #2046
Cool! I noticed my push build stopped at `disktype`, I guess ibiblio was having troubles at the time.

[2021-02-20 21:12] 01micko opened #2048 "Remove libtool .la files"
Apparently these are obsolete so maybe they should be deleted?

I refer to [this post](https://www.linuxquestions.org/questions/slackware-14/slackware-current-missing-la-files-4175628441/#post5847597) on LQ slackware forum..

Plus, many packages come with newer stuff than autotools, like cmake, ninja, waf and others.

Thoughts?

[2021-02-20 21:42] 01micko commented on #2048
Hmmmm was having trouble building abiword-3.0.4 but removing _all_ .la files on the system fixed it :thinking:

[2021-02-20 21:45] 01micko commented on #2048
Thoughts @dimkr ?

[2021-02-20 22:33] norgo70 opened #2049 "PPM v2.5 doesn't restart after update package database"
PPM v2.5 doesn't restart after update package database
Affect the update button in the PPM main window only (between help and configure PM button)

PPM launch via terminal is showing following error message
sh: restart_ppm: command not found

function restart_ppm will be called (see line 445) pkg_chooser.sh

here the modification I did to fix it

/usr/local/petget/pkg_chooser.sh (line 224)

-expor

[2021-02-21 05:52] dimkr commented on #2048
Let's delete them!

[2021-02-21 05:55] dimkr commented on #2046
ibiblio times out very very very often. To compensate for that, I separated caching of petbuild sources from other cached directories, and a cached sources directory can be safely shared between builds on different branches (unlike petbuild output, for example).

After one successful build on each branch, CI is stable and fast, but I think I'll increase the timeout and add more retries in all petb

[2021-02-21 05:56] 01micko commented on #2048
global delete when in 3builddistro should do it.

[2021-02-21 05:58] dimkr commented on #2049
Thanks for the detailed bug report @norgo70!

[2021-02-21 08:24] dimkr opened #2050 "xdg-puppy-jwm build failure"
[code]

[2021-02-21 15:44] #2046 closed, assigned to dimkr

[2021-02-21 15:45] #2029 closed, assigned to nobody

[2021-02-22 08:15] #2050 closed, assigned to dimkr

[2021-02-22 08:41] 01micko commented on #2050
Beautiful!

[code]
:+1:

[2021-02-22 09:13] 01micko commented on #2048
Ok, proposed simple patch (maybe add `-maxdepth 4` ?)

[code]

[2021-02-25 08:14] #2048 closed, assigned to nobody

[2021-02-25 08:14] #2049 closed, assigned to nobody

[2021-02-26 08:10] dimkr commented on #2027
https://github.com/puppylinux-woof-CE/woof-CE/pull/1948 goes through automated testing in every push (look at the ci/ directory).

For example, I had a bug where petbuild output is cached between CI runs, and when the cache gets unpacked after a successful build, the ownership of files changes to the UID:GID of the regular user on the machine that runs CI. The ownership of /root has changed, and F

[2021-02-27 11:27] z3huti opened #2060 "WIFI card Intel Advanced-N 6200 AGN not detected"
BionicPup64 8.0 does not detect WIFI card Intel Advanced-N 6200 AGN

but BionicPup 32bit does

also Slacko Puppy 7.0 64bit does not detect it, but 32bit works

[2021-02-27 12:51] dimkr commented on #2060
Hi @z3huti, can you share the output of `cat /proc/version` and `dmesg` from at least one scenario where it works and another where it doesn't?

[2021-02-27 13:26] z3huti commented on #2060
https://drive.google.com/file/d/1q0D2HGWJIcn-jAb86ubnRD4oBUIBoxag/view?usp=sharing

[2021-02-27 13:31] dimkr commented on #2060
The difference is here:

[code]

[code]

Take `fdrv-*.sfs` from the Puppy where WiFi works and try to load it in the Puppy where it doesn't. If it doesn't have `fdrv-*.sfs`, try to copy the /lib/firmware directory, or just /lib/firmware/iwlwifi-6000-4.ucode, /lib/firmware/iwlwifi-6000-5.ucode or /lib/firmware/iwlwifi-6000-6.ucode.

[2021-02-27 13:41] z3huti commented on #2060
I am just a user, reporting a "bug". Developers of puppy linux should fix it, and update ISOs.

[2021-02-27 13:48] dimkr commented on #2060
Thanks for doing so.

666philb doesn't provide updates of Bionicpup, so this problem won't get fixed and it's up to you to decide whether or not you want to fix it for yourself, or wait forever.

As far as I see, the problem is fixed for Slacko 8.0 - Intel firmware is packaged properly. @01micko Any idea what went wrong in 7.0?

[2021-02-27 14:08] z3huti commented on #2060
Yes, an update on 2021-Jan-03. Before that it was ok.

[2021-02-27 14:12] dimkr commented on #2060
Took a look in the 7.0 ISO and indeed, /lib/firmware/iwlwifi-6000-*.ucode is missing.

[2021-02-27 17:39] mrfricks commented on #2060
hi @z3huti
the missing firmware was added in a quickpet update for bionicpup64, so if you can plug a cable in to update and then reboot, wireless should work

[2021-02-27 17:42] mrfricks commented on #2060
hi @dimkr i did mention this in the slacko thread somewhere :)

[2021-02-28 16:26] s243a opened #2064 "devX missing (some?) Multiarch Packages"
I was trying to compile [empty](https://sourceforge.net/projects/empty/) on upupGG+D and I got the following error:
[code]
Searching for openpty lead me to the following package:
https://packages.debian.org/buster/all/gnulib/filelist

this is a multiarch package. This isn't the first missing multiarch package (i.e. architecture=ALL) that has caused issues for me. For instance readelf, requires
htt

[2021-02-28 19:08] s243a commented on #2064
I should probably open a new issue to this but  I noticed that libc6-dev is missing some dependencies (at least it is in upupGG+D). I descovered this by looking at the sourcecode for empty. In empty.c I saw an include for pty.h and I thought that might be related to the openpty error above. I searched for this package and found it is included in :
https://packages.debian.org/bullseye/libc6-dev

I

[2021-03-01 10:03] 01micko commented on #2064
Upup GG+D is hardly mainstream woof. Please take this to the forum.

[2021-03-01 10:03] #2064 closed, assigned to nobody

[2021-03-01 12:52] dimkr commented on #2064
@peabee what do you think about "mainlining" `upup-*` by putting the DISTRO_* files in woof-CE and setting up automated releases from GitHub? That will save you most of the manual labour involved in those periodic releases you do.

Puplets that don't get updates that fix bugs or add stuff like missing firmware are really common complaints, and all major Puppy family distros have this problem: ther

[2021-03-02 09:11] peabee commented on #2064
Hi @dimkr
I have to admit that this would not be high on my list of priorities I'm afraid......
A number of reasons:
- although I seem to have got into the habit of producing 32-bit Ubuntu based pups, I don't actually like Ubuntu much as a base
- Ubuntu no longer produces a full set of 32-bit components and therefore the latest UPups actually use a combination of Ubuntu and Debian components
- mos

[2021-03-03 10:07] dimkr opened #2068 "woof-CE needs a new contributor guide and manual"
https://forum.puppylinux.com/viewtopic.php?f=40&t=2298&start=10

[2021-03-03 18:21] dimkr commented on #2068
https://gitpod.io/#https://github.com/puppylinux-woof-CE/woof-CE is nice! A pre-configured development environment with predefined "tasks" for stuff like 1download would make it very easy to contribute. Maybe something like fakeroot is needed to run woof-CE or parts of it on the Gitpod machine.

[2021-03-03 20:53] dimkr commented on #2060
This bug is fixed in automated Slacko 7.x builds produced by #2067.

[2021-03-04 00:28] CollaboratorGCM commented on #2068
I saw a discussion on the forum with a statement to this post.

Aren't there a tremendous wealth of documentation and videos on GITHUB+GIT+how to setup, use (pull/push), and other such related to projects? If so, can we just provide pointers or search elements that lead persons to that material vs a need to re-create the wheel?

Or, do we want to look for some automation, like Eclipse (which is ex

[2021-03-04 00:31] CollaboratorGCM opened #2069 "QEMU"
There is an outstanding request on the forum **[here](https://forum.puppylinux.com/viewtopic.php?p=18159#p18159)** asking for an updated QEMU to be awarded.

As the WoofCE teams moves to it upcoming distro versions, could v5.2 be added?

Thanks for considering.

[2021-03-04 00:33] CollaboratorGCM opened #2070 "QEMU packaged for WoofCE"
**_Looking thru the forum_**

There is an outstanding request on the forum **[here](https://forum.puppylinux.com/viewtopic.php?p=18159#p18159)** asking for an updated QEMU to be awarded.

As the WoofCE teams moves to it upcoming distro versions, could v5.2+ be added?

Thanks for considering
P.S. GRUB2 utilities would be a good addition to the 64bit PUPs.

[2021-03-04 06:16] dimkr commented on #2068
I agree there's documentation out there, but the number of tools you need to be familiar with (git, shell scripting, GitHub pull requests, ...) might be intimidating to some.

I think a tutorial that instructs people how to open a Gitpod environment, fork woof-CE, do their changes, commit then and open a pull request, would be amazing! Zero setup on the user's machine, the editor is very similar t

[2021-03-04 07:42] 01micko commented on #2069
It's in the next iteration of slacko64-8 (devx), works ok, so closing

[2021-03-04 07:42] #2069 closed, assigned to nobody

[2021-03-04 07:45] 01micko commented on #2070
duplicate of #2069

It _really_ is a maintainer issue. We all do our best :smile_cat:

[2021-03-04 07:45] #2070 closed, assigned to nobody

[2021-03-04 07:47] 01micko commented on #2068
I pinned this issue just now.

[2021-03-04 08:05] 01micko opened #2071 "Add config option to run kernel-kit/build.sh automatically"
This would require a few things
- specific kernel configs for specific upstream compatible puppies
- specific configs based on architecture (very important for `arm*` and `aarch64`)
- code to "trigger/disallow trigger" (without necessarily failing the build if an appropriate kernel is in `woof*/huge_kernels`) in the right place of woof build
- other stuff I haven't considered

[2021-03-04 12:08] s243a commented on #2068
I don't use eClipse. It runs too slow on my older machine. I suspect many puppy users are in the same boat.

[2021-03-04 12:10] s243a commented on #2068
Here's a starting point for anyone that updates github via ssh:

https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2021-03-04 12:29] dimkr commented on #2068
As a relatively "lightweight" alternative to VS Code that supports its extensions ecosystem and feels familiar, I use https://github.com/dimkr/codile (shameless advertising of my own project). It's just a thin wrapper around https://github.com/eclipse-theia/theia with packaging and CI/CD.

But still, Gitpod is easier because you don't need to install anything on your machine - all you need is a br

[2021-03-04 17:58] dimkr commented on #2004
I've given up on Stardust, it's really hard to port this theme to GTK 3 because of the heavy use of background images. Even if I succeed, it will take a very long time to make it consistent with the GTK 2 theme.

There is some progress with ROX-Filer at https://github.com/dimkr/rox-filer/pulls. I've replaced the use of widgets deprecated in GTK 2 that got removed in GTK 3, and fixed most GSEAL com

[2021-03-04 22:06] dimkr opened #2073 "In GitHub releases, /spot is owned by root"
Need to run that `chown` using `chroot rootfs-complete`

[2021-03-04 22:08] dimkr opened #2074 "Applications running as spot use the default GTK theme"
Maybe only true to my dpup, Firefox or GTK 3

[2021-03-04 22:24] dimkr opened #2075 "HOME is /home/runner and not /root in CI"
This may have consequences like pinstall.sh producing configuration files at the wrong directory. Need to investigate, and `HOME=/root ./3builddistro`, etc' if needed.

[2021-03-05 07:23] CollaboratorGCM commented on #2068
I am not sure if this would be of benefit, but if newer ISOs would be released such that a user could/would use the GIT Clone option for ISO download (notwithstanding Distrowatch and forum) be a starting point for users to begin a comfort level?

Not sure, but just a thought.

[2021-03-05 11:32] gyrog commented on #1867
These commits provide the last part of my "autosave" facility.
A save facility that can always be safely invoked on a non-Linux partition.

pupmode=66 is very simple, although inefficient for long-term use (i.e. installing lots of .pet's).
On shutdown, save the RW directory in RAM to an archive file, in this instance a "tar.gz" file.
On boot, populate the RW directory in RAM from the archive file.

[2021-03-05 20:00] dimkr opened #2082 "Missing icons in the Puppy Standard icon theme"
A GTK 3 build of PCManFM looks really bad and icons like the new tab icon are missing. The problem is fixed by adding `Inherits=Adwaita,Hicolor` to index.theme, but I'm not sure if this is the right way to solve this.

@zigbert @01micko Ideas?

[2021-03-05 20:01] #2075 closed, assigned to nobody

[2021-03-05 20:01] #2073 closed, assigned to nobody

[2021-03-05 20:02] 01micko commented on #2082
Fix the themes I reckon. I'll take a look tonight or tomorrow. `PMaterial` is relatively complete.

edit: What about `Inherits=PMaterial,Hicolor` for now ?

[2021-03-05 20:15] dimkr commented on #2082
Works! I think I'll change the icon theme of Dark Gray to PMaterial then, if that's the theme that works best.

[2021-03-06 00:12] 01micko commented on #2082
I'll get Puppy Standard and Puppy Flat up to speed this weekend.

[2021-03-06 07:26] gyrog commented on #1882
I've been distracted from Puppy for a while now, but I'm sortof getting back to it now.

I hope to re-visit this whole "efi" utilities area before too long.

[2021-03-06 08:52] dimkr commented on #2082
Honestly, I think we're better have one theme that works great across GTK 2 and 3. The variety is not very big, and all SVG themes are simple and flat, so a user that doesn't like this style won't be satisfied with any of them.

I thought "Puppy Standard" was the best candidate for this, but now I understand that PMaterial is the most complete theme. I'll do some extra testing, to see if I can spo

[2021-03-06 11:30] dimkr commented on #2082
Wow, PMaterial solves the Geany icons problem!

[2021-03-06 11:37] gyrog commented on #1993
@01micko, I haven't noticed this till now.

You do realise that if folk want to boot from CD but save to HD, they can do it the other way around,
i.e. Install Puppy to HD (or USB device) and boot that Puppy from a CD; "FrugalPup->BootCD".
or for something that might have a longer life, install a vfat boot partition "FrugalPup->Boot" and then create a CD that will boot the grub2 on the vfat boot pa

[2021-03-06 13:06] CollaboratorGCM commented on #1993
Thanks for this effort. I thought it was a PC hardware problem: I had burn the DVD on one machine and was attempting to use the DVD on a different PC for boot and session saves. Boots fine; but session save issues.

Now I know the problem is not the PC's DVD hardware as I had suspected.

[2021-03-06 13:09] CollaboratorGCM commented on #1993
BTW: This is **not a priority** for me as I merely save folder instead to HDD on this PC.

[2021-03-06 13:59] rizalmart opened #2086 "Isolated puppy scripts"
Some puppy core scripts shares the same filename as the files from mainstream package such as init, mount, umount, losetup, ps, poweroff. This examples can overwritten by packages from mainstream linux distro which cause trouble on puppy. The best solution here was to move these commands to for example /lib/puppy and declare it on $PATH like this

export PATH=/lib/puppy:$PATH

This will prevent th

[2021-03-06 19:15] 01micko commented on #1993
Yes but probably isn't obvious to the casual user.. I'll think about that.

In `shutdownconfig`. Slacko64-7.0 has all the facilities.

[2021-03-06 19:17] 01micko commented on #2082
Geany menu? see my recent commits.

[2021-03-06 19:21] dimkr commented on #2082
efc344ef0d1fd121c12d6338100de948d5302644 explains everything.

The issue is not really solved, but I don't see missing icons with PMaterial, and that's good enough.

[2021-03-06 19:21] #2082 closed, assigned to nobody

[2021-03-06 21:35] 01micko commented on #2082
Nearly there with `Puppy Standard`. It's tedious!

`Puppy Flat` will be at a later date.

Also see 79356aa

[2021-03-06 23:25] 01micko commented on #2082
All 3 icons themes should be ok now.
[code]
flat and material are a lot closer in design.

[2021-03-07 05:58] dimkr commented on #2082
Thank you! Amazing work.

[2021-03-07 06:25] gyrog commented on #1993
Exactly what fails, and when?

Is pupmode=77 failing?
If so, is it failing to do save on shutdown , or failing to load folders on boot?
Or is it failing to be setup by 'shutdownconfig'

[2021-03-07 06:31] 01micko commented on #1993
It fails to be offered to save back to cd so there is an issue with shutdownconfig. I think that we probably need to check if we booted off a physical optical drive or a 'soft' iso. I haven't looked at the code yet, just guessing.

[2021-03-07 06:39] 01micko commented on #2068
We need to make an effort to fix up the woof-ce github wiki.
Things to consider.. many puppy specific
- boot codes
- how to install (frugalpup, old style, etc)
- update the kernel-kit blurb
- update all the other stuff and remove some of it
- how to configure a woof build

The list could go on.

[2021-03-07 06:42] gyrog commented on #1993
@01micko, that's a start, I'll have a look at the 'shutdownconfig' code.

[2021-03-07 09:44] gyrog commented on #1993
@01micko,
Sorry, my mistake, there is a bug in my recent changes to 'shutdownconfig'.
It stops optical drive dialogs, and also partition selection dialogs from being shown.

I have provided a 'ydrv_slacko_7.0.sfs' in the forum.

I tested by adding this 'ydrv_slacko_7.0.sfs' to the 'slacko-7.0.iso' and burning a CD.
On first shutdown, I got the optical drive dialog.

I could patch 'shutdownconfig'

[2021-03-07 09:50] 01micko commented on #1993
No worries. `init-experiment` is probably A THOUSAND commits behind by now :laughing: so go direct to `testing`. There are no imminent stable releases so we'll get time to sort it.

I'm uploading a slacko64 8 triple alpha soon from `testing` (slackware - current based - 'soon' to be 15.0. NB: soon is 'relative speak' for Pat Volkerding). The ydrv may well work in that too.

[2021-03-07 10:14] gyrog commented on #1993
woof-ce 'testing' now updated.
So 'shutdownconfig' on 'testing' should be identical to 'shutdownconfig' in the ydrv.

[2021-03-07 10:26] 01micko commented on #1993
Thanks @gyrog - no need for ydrv now :-)

[2021-03-07 10:31] gyrog commented on #1993
No worries.

[2021-03-07 10:41] zigbert opened #2089 "*.desktop files in Puppy is somewhat wrong"
Looking into the *.desktop files in /usr/share/applications is a bit messy. Many different ways of using the terms
Name=
GenericName=
Comment=

Some times all 3 have hold the same info, sometimes not... This hurts the menu. I have done some cleanup to make it look better in the Menumanager, but the problem is more fundamental... Puppy is using the "Name=" tag when building the menus, and it holds

[2021-03-07 10:53] 01micko commented on #2089
Yes, I did notice this. Part of the problem is `dir2pet` which I'll keep on  my radar. It is over simplified. Thanks for the effort on this @zigbert !

[2021-03-07 11:08] sc0ttj commented on #2068
I've banged on about the need for a proper Developer Handbook, lots..  Hopefully it'll go somewhere..

The CRUX Handbooks are simple, and really nice - using lots of small, easy code examples that users can copy & paste - so much easier than trying to document a bunch of quirky/archaic Gtkdialog GUIs..

In term of being any kind of helpful "documentation", the forum is a mess - and worse, even the

[2021-03-07 12:00] #1947 closed, assigned to nobody

[2021-03-07 12:00] #2032 closed, assigned to nobody

[2021-03-07 14:31] gyrog commented on #1867
init-experiment branch:

I've committed the same 'shutdownconfig' bug fix to init-experiment as for testing, I simply didn't like leaving code out there, with a known bug with a known fix.

If the 'shutdownconfig' bug fix mucks up the possability of merging init-experiment with testing, then I suggest that init-experiment be deleted.
I now have 4 patches for the recent pupmode=66 stuff that can ap

[2021-03-08 04:21] gyrog commented on #2089
The other part is simply contributors creating crappy .desktop files. I just grab a copy of one from the target menu category and edit it.
My 'frugalpup.desktop' has exactly this problem.

@zigbert ,
If I change 'frugalpup.desktop' to have:

Name=FrugalPup
Comment=flexible frugal installer
GenericName=Puppy Linux installer

Would that be proper?
What would the menu entry look like?

[2021-03-08 06:27] dimkr commented on #2089
Can we change the menu generator to put "$name $comment" in the menu entry instead of "$name", or just "$name" if the name contains spaces (backwards compatibility)?

[2021-03-08 06:57] dimkr commented on #2004
Missing icon issues are solved. Still trying to port ROX-Filer in https://github.com/dimkr/rox-filer, but largely, GTK 3 applications now look and behave consistently with GTK 2 ones. Some dialogs are too big when using the GTK 3 build of gtkdialog, but this is a trivial problem.

I'm closing this issue, and hope to finish the porting of ROX-Filer one day.

[2021-03-08 06:57] #2004 closed, assigned to nobody

[2021-03-08 21:24] zigbert commented on #2089
I have thought the same way - should be doable... but jwm-xdgmenu would require some hacking...
Who knows C?

I can update the *.desktop files in Woof-CE

As mick pointed out, we need to update dir2pet - is it more?

[2021-03-09 06:28] dimkr commented on #2089
I can do it, I fixed two bugs there recently. And because now we have petbuilds during 3builddistro and automated releases, it should be very easy to change something in jwm-xdgmenu and build another Slacko 8.0 pre-alpha we can play with.

[2021-03-10 21:35] zigbert commented on #2089
I have updated the *.desktop files inside Woof-CE. BUT, I'm not the man to tell what's right and what's wrong, so please correct me...

[2021-03-10 22:30] rizalmart commented on #2074
Did you put gtkrc file on /home/spot?
gtk3 themes can be set by default by putting gtk.css on /etc/gtk-3.0

[2021-03-11 04:32] CollaboratorGCM opened #2095 "Keyboard Arrow key misbehavior"
I cannot pin-point it, the problem emerges from FirstRUN processing. I have noticed that arror keys behave as expected BEFORE I click OK in FirstRUN. But problem is created after Firstrun changes made.

Typically I change keyboard, numlock, timezone, internet time, and hostname on FirstRUN for Slackos. FirstRUN reports a hostname change and offers to restart Xwindows, which I allow. Recent Slackos

[2021-03-11 05:47] dimkr commented on #2074
Nope.

As a user, I expect applications to use the theme I chose, and the fact my browser runs as spot is an implementation detail.

[2021-03-11 06:02] dimkr commented on #2089
#2096 should fix most remaining issues.

[2021-03-11 06:12] 01micko commented on #2095
Might have to have a look at the keyboard layout routine in `quicksetup`

[2021-03-11 17:35] dimkr commented on #2089
Looks great!

The menu entry specifies the application name:

![network](https://user-images.githubusercontent.com/1471149/110829156-b98ea680-828f-11eb-8b75-d0618cff94ee.png)

The tooltip contains the Comment field:

![tooltip](https://user-images.githubusercontent.com/1471149/110829163-bb586a00-828f-11eb-9f30-eba282f0a646.png)

The Name[language] and Comment[language] field are used if they exist

[2021-03-11 17:35] #2089 closed, assigned to nobody

[2021-03-11 18:09] zigbert commented on #2089
I think dir2pet still is an issue... as it builds *.desktop files with extended Name tag

[2021-03-11 18:18] dimkr commented on #2089
Also, it seems like some package templates replace the .desktop files, or modify them 😠

[2021-03-11 18:19] dimkr commented on #2089
Quick help if you want to see the current state quickly:

[code]

dpup is in pretty good shape, because it doesn't use any PET packages with old .desktop files.

[2021-03-11 19:58] 01micko commented on #2089
Nice! Dpup looks good!

@zigbert I think dir2pet is a very simple fix.

Just 2 variables need to change.

Example:

[code]

[2021-03-11 20:23] 01micko commented on #2089
Yeah, the package templates.

[code]

NOTE: ppavol is only for a startup file and only if pa-applet is absent

[2021-03-11 20:39] 01micko commented on #2089
also support/rootfs-hacks.sh_desktop

[code]

[2021-03-12 11:16] CollaboratorGCM commented on #2095
It seems the problem surfaces **after** FirstRUN no matter if changes are made or not. It is NOT present upon on desktop before hitting the OK button in FirstRUN.

The problem will disappear after a desktop restart; I used Ctrl-Alt-Backspace to restart, then "xwin" in console. Upon arrival on desktop, the problem is gone.

[2021-03-12 11:22] CollaboratorGCM commented on #2095
Spoke too soon; Rerunning Firstrun from Menu>Setup>...FirstRUN and completing the normal changes I traditionally make, I hit the OK key only to find that moments later after time change from the internet the problem is back.

So, it appears to be FirstRUN related with/without user changes.

[2021-03-13 08:51] dimkr commented on #2068
Started working on documentation: https://github.com/puppylinux-woof-CE/woof-CE/wiki/Building-a-Puppy-on-GitHub

The plan: this + a guide that instructs people how to fork woof-CE, change something, commit the changes, push, publish a release in their fork (+ tips what and how to test) and open a pull request to woof-CE.

[2021-03-13 13:46] dimkr opened #2113 "Petbuild output cannot be put in adrv"
Package built by 3builddistro are copied to rootfs-complete, instead of getting copied into packages-* and moved to adrv like other packages, if adrv is enabled.

[2021-03-14 06:59] dimkr opened #2116 "Support for dhclient and udhcpc in SNS"
https://roy.marples.name/archives/dhcpcd-discuss/0003457.html

[2021-03-14 14:08] #2086 closed, assigned to nobody

[2021-03-14 14:31] #2074 closed, assigned to nobody

[2021-03-14 14:33] dimkr opened #2117 "Audio in Firefox running as spot doesn't work if Pulseaudio runs as root"

[2021-03-14 18:16] CollaboratorGCM opened #2123 "Menu Manager Removal request"
The Menu Manager found in Menu>Setup>Menu manager has no apparent useful function.

If it intends to be helpful for Menu edit, it should allow a Menu item's desktop entry to be edit/updated/changed/moved vs a visible or invisible effort that the manager, itself, does NOT make apparent.

**Request** for it to be expanded or removed. And, for a replacement "setup/edit" Menu entry for "editing" the d

[2021-03-15 21:53] CollaboratorGCM opened #2126 "Browsers in all future PUPs"
There are a few "standard" browsers that PUPs via WoofCE come with. I count 4. But to support installation of any one of the other 3 onto a pristine PUP which has 1 of them built-in is generally met with some problems. And, I know there are helper installation routines, but I was just curious to a concept that might be helpful.

Could WoofCE PUPs be shipped with a common set of libraries built-in

[2021-03-16 06:21] #2117 closed, assigned to nobody

[2021-03-16 17:09] dimkr opened #2128 "PipeWire audio support"
I know we just migrated to PulseAudio in #1915, #1885 among others, but it looks like Debian Bullseye has PipeWire packaged and we have a good opportunity to get sound working with PipeWire without issues like #2117, before we have a Puppy based on Ubuntu 22.04.

[2021-03-17 07:56] 01micko commented on #2128
I read about PipeWire a while back. Looks interesting.

[2021-03-17 09:55] zigbert commented on #2123
Doesn't sound like you are using the latest menu manager?
- Click on menuitem to show/hide in menu
- edit and save *.desktop file

![Screenshot(1)](https://user-images.githubusercontent.com/5928708/111448750-04387480-870f-11eb-8ab4-3dd0ab81a730.png)

[2021-03-17 22:51] CollaboratorGCM opened #2134 "Psave/Pdir/SaveMark/etc for finding save-session locations"
**[Does this apply](https://puppylinux.rockedge.org/viewtopic.php?p=20028#p20028)** to the modern WoofCE generated PUPs?

This is an FYI

[2021-03-18 14:25] gyrog commented on #2134
If it didn't, I would not have written that it does.

[2021-03-18 14:49] gyrog commented on #1882
I now have a test machine that runs fully uefi, "CSM" disabled, "Secure Boot" enabled, and using only GPT partitioned disks.
Using Fossapup64, confirmed my previous testing, no problems using the utilities from PPM.
I then tried 'dpupbuster64-8.0.0-uefi-RC-3-09082020.iso', again utilities from PPM worked fine.
Though in both cases I used one of my "gyro" kernels from last year, that have the "mmc"

[2021-03-18 15:11] rizalmart commented on #1860
@dimkr

Hello can you please fix this issue on woof-ce upon processing builtin packages?

[2021-03-18 21:18] #2113 closed, assigned to nobody

[2021-03-19 01:28] CollaboratorGCM commented on #1882
A gamechanger improvement to 2021 PUPs, going forward. Thx.

[2021-03-19 05:26] 01micko commented on #1882
I'll just leave the Slackware - current `eliloconfig` script here for ideas - note that elilo and lilo work totally differently to grub2

[code]

[2021-03-19 07:00] rizalmart opened #2141 "Just a thought. automated language pack creation."
Since most mainstream packages always contain locales. It's possible to incorporate language pack creation on woof-ce. By moving non-english locale files to an SFS module or split into pet packages. So the end product was Puppy ISO file, a devx module, and a language pack (sfs or pet).

[2021-03-19 10:02] 01micko opened #2143 "rootfs-petbuilds: 'guess_fstype' should be in 'aaa_pup_c'"
In the old busybox-1.31.1 it was a patch so the pet was excluded from all builds.

http://distro.ibiblio.org/puppylinux/sources/g/

[2021-03-19 11:11] dimkr commented on #2143
Will do!

[2021-03-19 14:01] dimkr opened #2145 "petbuilds don't have separate _DOC and _NLS packages"
Having separate packages will allow barebones Puppies without translations or documentation.

[2021-03-19 14:03] dimkr commented on #2143
@01micko Do you have the busybox patch somewhere?

[2021-03-19 16:14] gyrog commented on #1882
The critical line is:
efibootmgr -q -c -d $EFI_DEVICE -p $EFI_PARTITION -l "\\EFI\\Slackware\\elilo.efi" -L "Slackware"
which adds an entry called "Slackware" into the uefi/BIOS boot order, (I think).
And there would have to be an '/EFI/Slackware/elilo.efi'  file in a "fat32" partition which this entry causes to be executed at boot time.

With "efibootmgr" we have access to something which is sort

[2021-03-19 19:06] 01micko commented on #2143
Yes in the initrd_progs repo

https://github.com/puppylinux-woof-CE/initrd_progs/tree/master/pkg/busybox_static

[2021-03-19 19:50] 01micko commented on #2145
Yes good idea.

[2021-03-19 20:04] 01micko commented on #1882
Yes. I have slackware64 -current installed on my dell laptop.

Yes

I think 64 would be preferable. 32 is mostly for legacy machines and if a user must run it on modern kit nearly all processors support KVM so virtualbox/qemu/vmware would be an acceptable option.

Absolutely, let grub handle multiple pups

Non-issue I think. As long as the MOK is registered most machines allow booting off external

[2021-03-19 21:06] dimkr commented on #2143
The busybox implementation is probably better, because it uses busybox code for partition type guessing, so it should support more file systems and it doesn't have to be maintained by Puppy. I'll add this patch to the busybox petbuild later.

[2021-03-20 07:41] gyrog commented on #1882
The problem with 'efibootmgr' "installing" a "PuppyLinux" boot to the uefiBIOS, is not that you can't activate the "BootMenu" for this device, the problem is that no other machine will recognise the 'EFI/PuppyLinux' directory as a boot option until 'efibootmgr' is run to "install" it on this machine.

The current method works because the 'EFI/boot' directory is supposed to be recognised as a "defa

[2021-03-20 09:38] #2143 closed, assigned to dimkr

[2021-03-20 11:14] gyrog commented on #1882
I have setup an f2StickPup style Puppy install modified to uses 'EFI/PuppyLinux' instead of '/EFI/boot'.
Simply booting it doesn't work because the uefi/BIOS in the motherboard, doesn't find the 'bootx64.efi' file.
But after installing 'EFI/Puppy/bootx64.efi' to the uefi/BIOS using 'efibootmgr', it boots.

All I need  now is a working uefi Windows install, and I might be able to dual boot Windows

[2021-03-20 11:28] dimkr opened #2149 "The default mixer is retrovol even when using PulseAudio+pa-applet"
Probably needs to be changed to pavucontrol. Also, the "generic sound mixer" menu entry is useless if pavucontrol has a separate menu entry.

[2021-03-20 14:41] dimkr opened #2152 "Alt+F2 doesn't show a "run" dialog as in other distros"
This is confusing and annoying!

[2021-03-20 16:25] gyrog commented on #1959
How does this relate to booting with "pfix=trim"?

[2021-03-20 16:37] dimkr commented on #1959
@gyrog According to https://wiki.archlinux.org/index.php/Solid_state_drive#Periodic_TRIM, the `discard` mount option (aka `pfix=trim` has its cons.

[2021-03-21 02:11] 01micko commented on #2149
maybe the FIXUPHACK can add to the pinstall.sh to remove 'generic sound mixer' and make pavucontrol the default mixer.

[2021-03-21 04:52] kudoakiyama opened #2153 "How to configure the base system?"
So I love puppy. However, it uses Pale Moon as its default browser which gives me problems vs. just using Firefox. I am fine with the window manager too however I want to use a tiling window manager such as i3 (btw this would be easily fixed if I could remove installed default packages). I checked out the scripts but I can't seem to figure out what packages are being installed to the system. I am

[2021-03-21 06:26] dimkr commented on #2153
@kudoakiyama Did you read https://github.com/puppylinux-woof-CE/woof-CE#building-a-puppy-using-the-commandline-scripts?

[2021-03-21 06:28] dimkr commented on #2149
I think I'll delete that .desktop file in the PulseAudio FIXUPHACK, through a pinstall.sh. That will solve the problem for puplets that use alsamixer+pa-applet and don't have pavucontrol.

[2021-03-21 06:28] #2152 closed, assigned to nobody

[2021-03-21 06:38] kudoakiyama commented on #2153
I kinda understood that instruction, but does that mean that I will configure the system after making the iso? Or before building it?

[2021-03-21 06:44] dimkr commented on #2153
Ideally, you need to edit DISTRO_PKGS_SPECS, etc' before you run 0setup, 1download, etc'. You can edit the DISTRO_* files after running some steps (e.g. after 1download) but sometimes you'll need to go back and re-run some script - for example, if you add a package to DISTRO_PKGS_SPECS, you'll need to re-run 1download and 2createpackages.

[2021-03-21 07:20] kudoakiyama commented on #2153
I added
`yes|i3|i3|exe,doc>null`
to DISTRO_PKG_SPECS-debian-bullseye
and currently building it via GitHub. I'll come back if I have more questions. Thank you!

[2021-03-21 07:23] dimkr commented on #2153
Great! Thank you @kudoakiyama, it's good to see people using the shiny new automated GitHub builds.

I hope this works well a quick and easy way to run woof-CE, and feedback is super valuable 👍🏿

[2021-03-21 07:24] dimkr commented on #2153
By the way: you might need to change /etc/windowmanger to i3. You can do this in woof-code/packages-templates/i3_FIXUPHACK (`echo i3 > etc/windowmanager`) or via EXTRA_COMMANDS, in woof-distro/x86_64/debian/bullseye64/_00build.conf.

Also, make sure you have i3's dependencies, as listed in https://packages.debian.org/bullseye/i3, and the dependencies of dependencies (i.e. the dependencies of i3-wm

[2021-03-21 07:30] #2153 closed, assigned to nobody

[2021-03-21 09:37] gyrog commented on #1959
"pfix=trim" is also honoured by the 'init' script only, so unless your SSD is mounted by 'init', and left mounted, 'discard' won't be active.

So, what would it need?
A "cron" job to run weekly, or use "Puppy Event Manager"?
A dialog to configure it somewhere, or competely automatic?

Are you working on code for this?

FYI, the 'init' script has some code to workout if a partition is on an SSD.

P

[2021-03-21 12:12] dimkr commented on #1959
Not yet. I'm not sure how I want  to do this.

[2021-03-21 13:44] bigpup1 commented on #2126
What do you do about, the browsers, constantly changing what they need, to run?
Those things, constantly update, and change what they now need, to run.
Pale Moon and Seamonkey, not so bad about this.
Other browsers, seem to think, you are using a Linux OS, that is constantly updating, all the needed dependency stuff.

[2021-03-21 14:39] s243a commented on #2126
There seems to be a lot of good browsers not mentioned such as waterfox, ungoogled chromium, iron, ulight, midori, decenter, etc. I'm not saying that puppy support should be aimed at any of these other browsers just that I'm somewhat agnostic on which browsers to support. As it stands, most major flavours of browser seem to be chrome based or firefox based, so if a puppy supports at least one clon

[2021-03-21 16:15] dimkr opened #2156 "The LXTerminal menu should be hidden only when -e"
https://github.com/puppylinux-woof-CE/woof-CE/commit/8a2308b5b131f4d1c511ba2294afa93bdab14a8f

[2021-03-21 16:52] #2149 closed, assigned to nobody

[2021-03-21 16:55] s243a commented on #2149
As a side-note, I use alsa-mixer on even dpup buster and it seems to work. I like the features of alsa-mixer like the ability to disable auto-mute.

[2021-03-21 16:58] dimkr commented on #2149
Same here, I use it too, even if I have PulseAudio. I have a problematic laptop where I have to unmute the speaker to get the headphones jack to work, or vice versa 😠

The problem is that this menu entry runs retrovol by default, and nothing makes it run alsamixer on a PulseAudio+pa-applet+pavucontrol setup, so it's either broken or useless.

I hope it's the last broken or useless menu entry I rem

[2021-03-21 17:45] CollaboratorGCM opened #2161 "Virt-Manager"
Many of us use QEMU in builds and testings for all the obvious reasons.

Could Virt-Manager be added to Repo for WoofCE builds

[2021-03-21 18:53] CollaboratorGCM commented on #2126
Having thought this thru, my idea of a common library-set for mainstream browsers is probably not within the scope of a PUP. Certain members in the wild will find the library additions as "bloatware" when it does NOT support their mainstream or is in addition to their mainstream.

The "bloatware factor that is thrown" can have a negative impact. So an idea of "common" for a variety of browsers has

[2021-03-21 18:53] #2126 closed, assigned to nobody

[2021-03-21 19:08] s243a commented on #2126
The install-whatever browser script, could use pkg (if available) or maybe petget, to install the needed dependencies if they aren't already on the system and if they are available in supported repos. There could be a prompt to confirm that people want to install the needed dependencies.

[2021-03-21 19:46] gyrog commented on #1882
Well, it works.
In a Windows ESP, I've stored the uefi stuff that FrugalPup usually installs in '/EFI/boot' in '/EFI/Puppy'.
Then ran a 'config-efiboot' script (I wrote) that uses 'efibootmgr' to add a boot called "Puppy" to the ueif/BIOS boot list. (The scrip borrows the 'efibootmgr' usage from the Slackware script.)
And even after a shutdown, you can boot either grub or Windows.

Unfortunately s

[2021-03-21 21:53] #2156 closed, assigned to dimkr

[2021-03-21 21:53] dimkr opened #2162 "The default image viewer is not set to gpicview when using the petbuild"

[2021-03-22 03:44] gyrog commented on #1882
I now have a boot label of "Puppy Linux - Grub2", and it still works fine.

[2021-03-22 09:25] gyrog commented on #1882
FYI, the output from a "efibootmgr" on my test machine.

BootCurrent: 0000
Timeout: 2 seconds
BootOrder: 0000,0001
Boot0000* Puppy Linux - Grub2
Boot0001* Windows Boot Manager

[2021-03-22 09:40] #2033 closed, assigned to nobody

[2021-03-22 09:42] dimkr commented on #2037
This one is almost fixed.

Packages built from source during 3builddistro use unmodified .desktop files (except the categories and icon, mostly), and this issue will be fixed when old PET packages without `[$lang]` fields go extinct.

[2021-03-22 09:44] dimkr commented on #2060
I'm closing this, it's a slacko 7.0 specific problem that's fixed in every future slacko.

[2021-03-22 09:44] #2060 closed, assigned to nobody

[2021-03-22 09:44] dimkr commented on #2060
@01micko How about publishing a 7.1 release, just to get this one fixed?

[2021-03-22 09:45] dimkr commented on #1993
Is this still happening in testing? I can't save when booting dpup from an ISO.

[2021-03-22 09:46] dimkr commented on #1617
Is this one fixed?

[2021-03-22 09:47] dimkr commented on #587
Duplicate of #1847

[2021-03-22 09:47] #587 closed

[2021-03-22 09:47] 01micko commented on #2060
Soon

[2021-03-22 09:50] dimkr commented on #623
I think this one is fixed, sort of. Most broken root-skeleton applications and menu entries are deleted by 3builddistro now, there's a minimal pinboard layout, and it's easy to build a minimal Puppy by removing all applications from DISTRO_PKGS_SPECS and letting petbuild build just the core set of applications (optionally, put them in adrv).

[2021-03-22 10:06] #623 closed

[2021-03-22 10:37] 01micko commented on #2162
This is new, because it _was_ working

[2021-03-22 10:46] rizalmart commented on #2123
@zigbert

Hello sorry for off-topic today. Can you port Stardust theme to GTK+3?

[2021-03-22 11:17] dimkr commented on #2162
I looked at all petbuild pinstall.sh and all of them have a terminating newline. We have a bug - we append all pinstall.sh without ensuring each one ends with a newline, so the last line of one pinstall.sh and the first of another are concatenated. But this is not the case here, because this affects both dpup and slacko.

[2021-03-22 11:18] dimkr commented on #2123
I tried to port it but the result was horrible. I tried to replace the background images used for bottons, etc' with CSS, but couldn't get the border width, the background gradient, etc' right.

[2021-03-22 11:46] gyrog commented on #1993
@dimkr, I assume that this dpup was woofed in the last few days?

Any chance I can download this version of dpup?

What dialogs did 'shutdownconfig' display?

[2021-03-22 11:54] 01micko commented on #2162
Actually, none of them are set!

Take mtpaint for example:

Original in woof..
[code]

The pinstall
[code]

__None__ of them make the main `pinstall.sh` so there is a bug :bug:

[2021-03-22 12:36] 01micko commented on #2162
Fix? (but have to remove the cache)
[code]

Yes, that's it. (main pinstall.sh)

[code]

[2021-03-22 12:41] 01micko commented on #2162
Actually, the files should show up in `/var/packages/woof-installed-packages` so `pet.specs` should be omitted too.

[2021-03-22 12:48] gyrog commented on #1882
I've uploaded my 'config-efiboot' utility to [mediafire](http://www.mediafire.com/folder/00irfyzi4ghio/mokutil).

[2021-03-22 12:50] 01micko commented on #2162
Should be fixed in 0add32a

[2021-03-22 13:30] rizalmart commented on #2123
@dimkr

What if you just respect the gtkrc and just port the gtkrc to gtk.css 1:1 translation

[2021-03-22 14:16] dimkr commented on #2162
The way caching works in GitHub Actions is annoying, you can't flush the cache or decide how much time to keep it around 😠

Manually-triggered builds (= releases) ignore the cache, though, so it should be easy to test this fix, and PR/push builds will correct themselves when GitHub Actions wipes the cache (should take minutes/hours/days).

[2021-03-22 14:17] dimkr commented on #2162
Ha, now I understand why we haven't seen it sooner. Firefox has a pinstall.sh, but it's not a petbuild. But almost all petbuild applications are the rootfs-skeleton default 😸

[2021-03-22 14:20] dimkr commented on #2123
Sadly, you can't do a 1:1 port.

GTK+ 3 themes work differently - you'd have to use two images, one for the border and another for the widget "body", add padding, etc'. It's easy to do with mostly square themes - Polished-Blue and Flat-grey-rounded are very uniform, all widgets are square and some have slightly rounded corners. But Stardust is different, because the background of widgets consists

[2021-03-22 14:22] dimkr commented on #1993
@gyrog Yes, and yes - https://github.com/dimkr/woof-CE/releases/tag/dpupbullseye64-9.0.0-menubar (will be deleted soon, I delete test builds when I don't need them)

[2021-03-22 19:16] dimkr opened #2167 "Support for building a Puppy without _DOC or _NLS packages"
The "docx" and "nlsx" mechanism is a partial solution, but is it still in working shape?

[2021-03-22 20:51] dimkr opened #2168 "Allow kit_kernel.sh to use a kernel with a suffix other than DISTRO_FILE_PREFIX"
This will allow dpup and slacko to use the same kernel, reducing build times.

[2021-03-22 21:44] #2141 closed, assigned to nobody

[2021-03-22 21:57] 01micko commented on #2168
makes sense for `sublevel=0`

[2021-03-22 21:59] 01micko commented on #2168
Oh, but there is a snag, slacko64 puts aufs libs in /usr/lib64

[2021-03-22 23:27] CollaboratorGCM commented on #2126
Your view is a more appropriate approach, I feel.

**Another idea** that the community could adjust to is when a pristine boot occurs, a choice is given in one of the two windows that initially open (FirstRUN and the completion after FirstRUN):

- An offer for the users to choose another browser or not

Just a thought, as there are many various browsers that the community continues to toss request

[2021-03-22 23:54] CollaboratorGCM opened #2169 "FindUtils is NOT installed, yet PPM says it is"
Here is **[FindUtils](https://www.gnu.org/software/findutils/)**.

PPM of FossaPUP64 & Slacko64 says it contained, built-in. Where are its contents?

[2021-03-23 02:43] s243a commented on #2169
It should be See:
[/woof-distro/x86_64/ubuntu/focal64/adrv/DISTRO_PKGS_SPECS-ubuntu-focal](https://github.com/puppylinux-woof-CE/woof-CE/blob/testing/woof-distro/x86_64/ubuntu/focal64/adrv/DISTRO_PKGS_SPECS-ubuntu-focal)
and
[/woof-distro/x86_64/ubuntu/focal64/DISTRO_PKGS_SPECS-ubuntu-focal](https://github.com/puppylinux-woof-CE/woof-CE/blob/testing/woof-distro/x86_64/ubuntu/focal64/DISTRO_PKGS_SP

[2021-03-23 06:32] gyrog commented on #1993
@dimkr, got it.

I think there may be 2 issues here;

1  The "searching" code that is in the 'init' script may not be being executed.
It should work, provided you are "conservative" in 'shutdownconfig'.
I'll look at this now, just to make sure.

2  'shutdownconfig' should be able to write a SAVESPEC-1234567890 file to an "open" DVD.
This provides a solution no matter what you choose in 'shutdownco

[2021-03-23 06:48] dimkr commented on #2168
Why do we need those libraries? For years, we have Puppies without them and they work just fine.

[2021-03-23 10:03] 01micko commented on #2169
It's installed but `locate` and `updatedb` are omitted (filtered out) because of the huge database they create. Fills up a save file quickly.

[2021-03-23 16:27] gyrog commented on #1993
Yes, the "searching" code in 'init' is being skipped.
I now have 2 patches, to 'init' and 'shutdownconfig'

The patch for 'init' fixes the "no searching" issue, but the "searching" code finds only saves in the root of partitions.
Hence the patch to 'shutdownconfig' so that it doesn't offer "CHANGE FOLDER" if PMEDIA=cd.
I want to do more testing before I commit these patches to woof-ce testing,
so

[2021-03-23 16:33] gyrog commented on #1993
FYI,
I've uploaded patch files, 'init-cd-save.diff' and 'shutdownconfig-cd.diff' to [http://www.mediafire.com/folder/ufo1lerdg73j0/savespec](http://www.mediafire.com/folder/ufo1lerdg73j0/savespec)

[2021-03-24 01:13] CollaboratorGCM commented on #2169
I need the instantaneous find ability. Is there a way to install them via
PPM by "uncrippling" FindUtils? Is there something else that has come along over the years that give
instantaneous? My Google Drive has alway used something similar. And few/many
distros provide mlocate/locate.

And, since FindUtils is "crippled" should it be removed and the ONLY sub-program that PUP needs replace it in syst

[2021-03-24 01:33] CollaboratorGCM commented on #1993
Couple quick questions:

1. I am sure that what is meant by the comment "open" DVD we mean a Multisession DVD....Correct?

2. And, since 2020, PUPs have an additional boot option that does NOT require Frugal to get Frugal use including its session saving, the changes will continue to allow SG2D to continue the ISO boot benefit afforded the 2020-2021 PUPs...Correct?

Thanks for the continued great

[2021-03-24 03:30] s243a commented on #2169
You can install it using pkg. The syntax is somthing like this:

`HIDE_BUILTINS=false pkg --get findutils -f`

https://gitlab.com/sc0ttj/Pkg/-/wikis/home

[2021-03-24 06:27] CollaboratorGCM commented on #2169
Tried this
1. Menu>Settings>Package Manager (NG)
2. Updated Repo
3. searched for FindUtils...found it
4. Selected Force Install
5. Got the successful install message
6. Yet NO "locate/mlocate".
![FindUtils](https://user-images.githubusercontent.com/15698050/112265128-582fe580-8c48-11eb-87ff-27a56fdf2297.jpg)
Any other ideas?

This is a **low priority** as there is still much we are awaiting from S

[2021-03-24 07:49] s243a commented on #2169
This is the GUI for "pkg" correct? I believe that you have to set HIDE_BUILTINS=false for this to work. If you want to do it via the GUI then perhaps you could export this variable prior to calling the gui.

[2021-03-24 08:02] 01micko commented on #2169
Pkg, isn't configured properly yet.

It's actually too hard coded and needs to be improved. The repos and distro
need to be entered manually but they should be auto discovered.

On Wed, Mar 24, 2021 at 5:49 PM s243a ***@***.***> wrote:

[2021-03-24 10:17] 01micko commented on #1882
Something interesting...

The slackware install on my linux box died recently. I was booting it from frugalpup's grub2 menu (hacked it in) and it was fine for months. Anyway, I deleted it and downloaded a fresh slackware64 current iso and am now installing it.

When I ran 'setup' it insisted that I had an efi system but didn't have an EFI boot partition of type `EF00`. Indeed grub2 is installed on

[2021-03-24 11:52] bigpup1 opened #2175 "loginmanager add option to turn off/on auto login"
loginmanager being the program for login options.

suggest adding an option to turn auto login on/off

There are people that would like to have to enter a password to continue booting to desktop.
So they are only one able to get to a working desktop.

Do not need to make them enter login name ( that is root)
Just stop the boot process and require entering the root password.

loginmanager already h

[2021-03-24 14:35] gyrog commented on #1993
Yes, "open" DVD we mean a Multisession DVD.

What is the PMEDIA value in your '/etc/rc.d/PUPSTATE'?
That might provide you with a clue as to what situations are effected by these patches.

[2021-03-24 15:03] gyrog commented on #1882
I haven't found a uefi/BIOS yet that insists on an EFI boot partition being of type EF00.
They have all been quite happy with a fat32 partition with an 'EFI' directory in it's root.
And on at least 1 of them, it seemed to take longer to find the EFI boot partition on a "gpt" disk than on an ordinary old "msdos" disk, (although the mchine is a few years old).
On my current main machine, a usb stick

[2021-03-24 18:12] mrfricks commented on #2169
hi @CollaboratorGCM fossapup has fsearch in quickpet on the useful tab that might be what you are after

[2021-03-24 22:04] CollaboratorGCM commented on #2169
I saw that in the past, but noticed that the help does not take one to the website the Help indicates. So it is not obvious in its proper use.

I will try to barrel thru that again to see if I can get a handle on it's use,and it's db. I assume it is similar to mlocate/locate/updatedb in its GUI use.
Correct?

**Edit:** Upon its installing via QuickPET, I did not see the locate/mlocate commands in

[2021-03-24 22:30] CollaboratorGCM commented on #2169
If FindUtils is not fully installed or accessible for installation in PUPs, it should be dropped from the REPOs.
Further,if **"xargs"** is the only thing that PUPs need, then it should be installed separate with NO reference to FindUtils.

Just an update.

[2021-03-24 22:43] CollaboratorGCM commented on #1993
I will have to find my DVDs for FossaPUP and FATDOG. But, I think each of those pre-date the current generations of PUP-DOG boot processing. And, I have not only native PUP-DOG DVDs, I also have SG2D DVDs which find the /BOOTISOS on the HDDs/USBs attached to the PC when the DVD presents them for boot selection.

In essence, each approach, native or via SG2D yielded the same exact results for booti

[2021-03-24 23:51] s243a commented on #2169
I mentioned how this package can be re-installed via "pkg". You could also install it in the ppm by deleting the associated metadata from the ppm.

As a side note, if you set HIDE_BUILTINS=false, then check your blacklists first. For instance libc6 should be blacklisted because you don't want to accidently end up with two version of this library.

[2021-03-25 11:03] gyrog commented on #1993
"What is the PMEDIA value in your '/etc/rc.d/PUPSTATE'?" is not supposed to be a difficult question.
Just view the file '/etc/rc.d/PUPSTATE' on you running Puppy with at text editor, or "cat" it in a console.
If you look at line 7 of this text file, I believe it will read "PMEDIA='atahd'".
My latest patches refer to the situation when "PMEDIA='cd'", so they won't make a difference.

[2021-03-25 12:27] 01micko commented on #1882
Well well well.. the fallout wasn't so bad :smiley: (bear in mind there is no trace of Windows on this box)
- turns out 'nuked' wasn't nuked at all - just changed the partition type (details later)
- slackware boots and runs fine
- puppy wouldn't boot
- made a boot stick to boot puppy, all good
- booted puppy, downloaded `config-efiboot`, read script, mounted the EFI partition, rearranged stuff su

[2021-03-25 13:00] gyrog commented on #1882
@01micko,
Excellent news.

On my copy of 'config-efiboot' lines 19 and 20 are supposed to be a bit of insurance against 'efibootmgr' executing but producing only error messges.

I assume that Slackware has a '/EFI/slackware' directory, (or something like that). Correct??
The code I'm working on for 'FrugalPup' is triggered by the existence of anything other than '/EFI/boot', so it will co-operate

[2021-03-25 14:18] CollaboratorGCM commented on #1993
Yes, correct.

My current running system booted 12days ago via SG2D USB selecting Slacko64-v8.0alpha for test says "PMEDIA='atahd'"

On another PC, v8.1 booted the same yesterday for test says the same, "PMEDIA='atahd'"

Have not booted Slacko V8s for multisession DVD test at this point. Will do so sometime today.

[2021-03-25 18:21] gyrog commented on #1882
I've uploaded a new version of 'config-efiboot' to [http://www.mediafire.com/folder/00irfyzi4ghio/mokutil](http://www.mediafire.com/folder/00irfyzi4ghio/mokutil)
The testing for 'efibootmgr' is more straight forward.

[2021-03-25 18:27] gyrog commented on #1993
The 'testing' branch should now have a 'shutdownconfig' that doesn't promise anything that 'init' can't deliver.

[2021-03-25 18:59] dimkr commented on #1993
I can confirm https://github.com/dimkr/woof-CE/releases/tag/dpupbullseye64-9.0.0-nojunk is able to save to a hard drive partition when booting from CD.

[2021-03-25 20:14] 01micko commented on #1882
Slackware is huge.

Maybe something like mx-linux? peppermint-os? Something CD sized.

Yes there is /EFI/Slackware

[2021-03-25 21:24] gyrog commented on #1882
Yes, I thought there would be an '/EFI/Slackware'.

Actually I'm going to try Devuan Beowulf "desktop-live", even though it's 1.2GiB.
I've only played with it "live" and already I'm sick of  "sudo", but it looks to have 'efibootmgr' and 'mokutil',
so I'm hoping a uefi install to a HD will produce the uefi boot partition I need.
Then I can test that the new FrugalPup will automatically do what you

[2021-03-26 10:09] 01micko commented on #1882
`sudo` _is_ annoying. Slackware has `su -` (where the dash ensures you are in `root` environment`). Shame Salix (slackware spin off) isn't up to date yet.

I have another Dell dev box (has win10, various puppies, MBR boot but capable of UEFI) that I might wipe for testing and enable EFI after backing up what I need. I've not booted win10 on it since I bought it (over 2 years ago). I could install

[2021-03-26 10:42] #2167 closed, assigned to nobody

[2021-03-26 10:43] dimkr opened #2180 "Support for missing default applications"
For example: I want my puplet not to have Abiword or LibreOffice installed, so /usr/local/bin/defaultwordprocessor doesn't do anything. Instead, it should either ask the user to install a word processor, or run PPM.

[2021-03-26 10:45] #2162 closed, assigned to nobody

[2021-03-26 10:45] #2145 closed, assigned to nobody

[2021-03-26 12:45] peabee commented on #2180
Yes that is exactly what I do for the Light web browser that I supply in the adrv...... I have light-missing in the main sfs symlinked to light which is overwritten by light in the adrv...........

[2021-03-26 12:56] dimkr commented on #2180
The question, is what to do with applications that are not in the adrv. My adrv has Firefox and a basic set of applications (Sylpheed, Geany, Transmission, etc') but doesn't include, and won't include, Abiword, Gnumeric and Inkscape, among others.

[2021-03-26 13:31] gyrog commented on #1882
Great, then you might be able to give this thing a reasonable test.

I did manage to get 'devuan' installed and it has a '/EFI/devuan', so I can use it for my initial testing, (later today).
I've only got FrugalPup to the "copy files to an appropriate place" stage, it doesn't have any 'efibootmgr' stuff in it yet. Doing the 'efibootmgr' call is still only in 'config-efiboot'.
My aim is for the "Fr

[2021-03-26 17:32] gyrog commented on #1882
I've uploaded a new version of 'config-efiboot' to [http://www.mediafire.com/folder/00irfyzi4ghio/mokutil](http://www.mediafire.com/folder/00irfyzi4ghio/mokutil).
It now contains code to delete any existing "Puppy Linux" boot entry, (untested).

My test using "Devuan" worked fine.
After installing Puppy with my current test FrugalPup and then running 'config-efiboot', the machine rebooted into Pup

[2021-03-26 21:57] 01micko commented on #2180
This?

[code]

![gui](https://user-images.githubusercontent.com/1019119/112696638-21431500-8e7e-11eb-9593-80368727ed2e.png)

Here's what we end up with
[code]

[2021-03-27 06:37] dimkr commented on #2180
@01micko It looks great and there's only one problem to deal with: the loop should look for applications that are missing in both rootfs-complete/usr/local/bin and adrv/usr/local/bin.

[2021-03-27 06:54] 01micko commented on #2180
Yes, well the `chroot` won't work in `adrv` so a creative work around is needed. Probably _not_ mounting adrv on top of rootfs complete because the adrv defaults should be in the adrv.

[2021-03-27 06:58] dimkr commented on #2180
I think it can be solved using your solution + checking if adrv/usr/local/bin/default* doesn't exist. If `which` fails in a rootfs-complete chroot, and there's no adrv/usr/local/bin/default*, then this default* should be replaced with a placeholder in rootfs-complete.

[2021-03-27 07:18] 01micko commented on #2180
`puppyapps` is a good placeholder - and it can be expanded.

[2021-03-27 14:50] gyrog commented on #1882
I've uploaded 'frugalpup_27.sfs' and 'frugalpup-27.pet' to [http://www.mediafire.com/folder/rdyc5lgzpeij1/frugalpup](http://www.mediafire.com/folder/rdyc5lgzpeij1/frugalpup) (2.9 MiB).

Consider this a beta release, I expect there will be a bug-fix v28 release to follow.

This FrugalPup's "Boot" facility now stores the ".efi" files to '/EFI/Puppy' instead of '/EFI/boot', if it detects the presence

[2021-03-28 06:19] peabee commented on #1882
Will await v28 before uploading to noarch ............... ??

[2021-03-28 09:52] mrfricks opened #2186 "puppy package manager"
Now that there's talk of improving the speed of the PPM @01micko and before work on this starts, i would like to suggest we roll back to version 2.1.2 and have some saner defaults.

PPM version 2.5 issues......
1. It's taken away the ability to install multiple packages at once and only installs
 .  the last item clicked on.
2. It  has some graphical corruption, when installing a grey blocky area

[2021-03-28 10:18] dimkr opened #2188 "The duplication between kernel-kit configuration files needs to be reduced"
The difference between Slacko 7.x and dpup Bullseye (https://github.com/puppylinux-woof-CE/woof-CE/pull/2187) is just the file name suffix. Same for fossa64 and the 64-bit dpup Bullseye.

Therefore, it makes sense to take the 95% common lines, put them in something like `build-x86_64-5.10.conf` and replace the super long configuration files with the diff:
[code]

I'll do this once #2187 is in.

[2021-03-28 11:58] gyrog commented on #1882
@peabee, yes.

[2021-03-28 12:02] 01micko commented on #1882
Haven't had time to test frugalpup-27 yet. Was an all day slog wrestling
with databases to get the puppy wiki back online. Everything is version
sensitive and nothing backward compatible!

On Sun, Mar 28, 2021 at 9:58 PM gyrog ***@***.***> wrote:

[2021-03-29 09:03] dimkr opened #2191 "Stable woof-CE branch"
Imagine a world where woof-CE has a branch ("stable", "release", whatever) that's synced with testing every once in a while (3/6/12 months) and the only changes pushed to it in between are bug fixes cherry-picked from testing.

This will make life easier for Puppy builders, and allow automated, periodic releases of Puppy updates (i.e. Slacko 8.0.1, 8.0.2 ...) with fixes from woof-CE plus security/

[2021-03-29 11:32] #2188 closed, assigned to dimkr

[2021-03-29 18:48] dimkr opened #2193 "The ad blocker can't be stopped or re-enabled"
It runs a sed and that sed hangs forever

[2021-03-31 11:51] gyrog commented on #1867
Well tis done.

'shutdownconfig' and 'init' are now consistent, but 'shutdownconfig' still provides wide options, in appropriate circumstances.

And, 'StickPup' and 'f2StickPup' can, and will, trigger automatic "save" creation, i.e. the only question on first-shutdown is to save or not to save.

[2021-03-31 15:20] dimkr opened #2194 "Kernel-kit should run periodically instead of in every build"
Building the latest 4.19.x, 5.4.x, etc' kernel once a week (or even two weeks) is enough.

This will make CI much much much faster, and pave the way for automated kernel updates in an already installed Puppy, independent of other components of Puppy.

(It's true that kernel-kit output is cached, but the cache gets wiped pretty frequently).

Also, a common place where every Puppy builder can get up

[2021-04-01 05:36] dimkr commented on #2194
Not sure how this issue interacts with #2168, but I didn't have to fix it to make #2195 work in my fork 🤔

[2021-04-02 13:37] #2194 closed, assigned to nobody

[2021-04-02 13:37] #2168 closed, assigned to nobody

[2021-04-02 13:38] #2180 closed, assigned to nobody

[2021-04-02 13:40] dimkr commented on #2037
Closing this.

Locales are included in dpup OS (https://forum.puppylinux.com/viewtopic.php?f=33&t=2495) by default, and I switched from English to German and Spanish. Menu entries and menu tooltips are translated when the .desktop file has translations.

This issue is fixed, when Puppy has locales.

[2021-04-02 13:40] #2037 closed, assigned to nobody

[2021-04-02 16:14] peabee opened #2200 "chmviewer - why in rootfs-skeleton with no executable?"
Why does rootfs-skeleton have:
/usr/local/bin/defaultchmviewer
when the .pet for its executable:
pzchmview-1.0d-1.pet
is not in:
https://github.com/puppylinux-woof-CE/woof-CE-noarch/tree/master/pet_packages-noarch
whereas it was/is in:
http://distro.ibiblio.org/puppylinux/pet_packages-noarch/
??
What does it do anyways? Are there any builds with it in? Has anybody missed it?
Should it be deleted f

[2021-04-03 04:46] 01micko commented on #1882
Finally got round to installing a late slacko build on my HP tablet. Frugal pup install and boot went well. (frugalpup-28)

Just didn't register with the windows boot loader. Doesn't matter. I just hold volume button down and press power switch to get into the setup boot menu which is touch screen capable. The only way I could run any pup on this thing before is with either LICK (@noryb009 ) or bo

[2021-04-03 11:31] gyrog commented on #1882
So, if you did manage to get your late slacko running on this machine, does 'efibootmgr -v' show anything interesting?

[2021-04-03 12:28] 01micko commented on #1882
Yes. But more later. On screen keyboard

![Screenshot](https://user-images.githubusercontent.com/1019119/113478386-dd7a8c00-94cb-11eb-9953-245b5f8e72ca.png)

[2021-04-03 17:31] gyrog commented on #1882
Very interesting.
So the "Puppy Linux - Grub2" boot looks like it is properly registered, so I wonder why it didn't boot?
Did it show in the "Boot Menu"?

I'm assuming that the FrugalPup ".efi" files were actually written to '/EFI/Puppy' as this boot entry sugggests.

[2021-04-03 23:15] 01micko opened #2206 "battery applet fails in linux >= 5.9"
The [writing has been on the wal](https://patchwork.kernel.org/project/linux-acpi/patch/1696561.dScFM4BVNv@c100/)l for a long time regarding `CONFIG_ACPI_PROCFS_POWER`

`/sys/class/power_supply/BAT0/` seems to be the place to find battery data but I don't know how consistent the data will be over different kinds of devices. This is on my Dell laptop and HP Tablet, linux 5.4 and 5.10 respectively.

[2021-04-04 03:25] 01micko commented on #2206
Similar output on an old laptop with linux 4.9.89

[2021-04-04 05:14] 01micko commented on #2206
Shouldn't be difficult to fix .. a few more variables needed to get required info. I'm having a go now @dimkr

[2021-04-04 05:15] 01micko commented on #2206
Saves you the trouble - plus you can check my work later.

[2021-04-04 06:38] 01micko commented on #2206
This works, but has a locale issue - the `yaf-splash` works too.

(the `printfs` can be removed, they were my debug thingy)

CODE REMOVED: see down page

[2021-04-04 09:12] 01micko commented on #2206
Well it's working on my HP tablet in 5.10.27 however it never shows it's charging because the `status` file says 'unknown' when charging. The loop for the yaf-splash is a little slow on that tablet. The icon does show accurate percentage as does the tool-tip.

The status thing is probably a driver bug.

Well the problem only occurs when the tablet is over 95% charged so now and for the time being

[2021-04-04 09:32] dimkr commented on #2206
I remember there's a bug in the battery applet - if the percentage stays the same, charging/discharging doesn't change. For example, if you're charging a laptop with good battery life (say, 10h), you need the battery to drop from 100% to 99% for the tray icon to say the battery is discharging, which may take some time.

I'll wait for your fix to be merged, then take care of that.

[2021-04-04 09:49] 01micko commented on #2206
The code is above, cast your eye over it and merge! I'm barely a hacker whereas you are somewhat of a software engineer. :fire_engine:  (fire engine was the closest emoji lol)

[2021-04-04 10:43] 01micko commented on #2206
Got rid of the `yaf-splash` bottleneck and calling `file` :facepalm: `gxmessage` is mucho faster.

[code]

[2021-04-04 10:51] 01micko commented on #2206
It occurred to me that we can probably delete all the `pm=2` code .. _all of it_ !

[2021-04-04 11:21] 01micko commented on #2206
So I deleted it,  **_all of it_**

[code]

And gxmessage is sooooo much nicer and faster! Image below is the HP taplet. (~2016)

![PXL_20210404_111648156](https://user-images.githubusercontent.com/1019119/113507063-a8357300-958b-11eb-8115-85f703e3999a.jpg)

Works fine on an old (~10 years?) HP lappy w/ linux 4.9 built against gtk+-2.0

[2021-04-04 12:18] 01micko commented on #2200
It opens [compiled html files](https://en.wikipedia.org/wiki/Microsoft_Compiled_HTML_Help), an MS proprietary format that has been reverse engineered.

I reckon delete the exec in `/usr/local/bin`

[2021-04-04 14:13] dimkr commented on #2206
Can you create a pull request with the right file, please? I don't want to take the wrong one by mistake.

I'll branch off this PR to debug the charging/discharging update bug.

I'll do my best to take a look today (after the part where I'm getting paid for engineering software) or tomorrow.

[2021-04-04 16:47] dimkr commented on #2206
The BAT0 assumption doesn't work, at least on my ARM laptop, and `pmtype=0` if both checks in `main()` fail.

[2021-04-04 16:52] dimkr commented on #2206
Let's just drop APM support, the `pmtype` variable and the hardcoded `BAT0` (can use `*` instead). That will guarantee both ARM and x86_64 support, but in one, smaller codebase.

[2021-04-04 19:15] 01micko commented on #2206
Done! See 8f5c6089

I don't see this as too urgent so take your time.

[2021-04-04 20:18] CollaboratorGCM opened #2208 "WoofCE generated distros used with TVs"
The prompt discusssion got me thinking of our modern times versus where we were in days of merely terminals.

Today, more and more of the user community and us will have use systems that have a mere power-cord and an HDMI (or USB-C) cable running from the PC system(s). **2 cables ONLY!** Oh, there will be times when we connect USB devices from time to time, but for many this may become less over t

[2021-04-05 03:39] #2200 closed, assigned to nobody

[2021-04-05 12:55] 01micko commented on #1993
Same with slacko64 built today. It can also save back to CD/DVD - tested with physical media.

_However_

The current state of play is this (built from `init-experiment` branch):
- making a USB install with frugalpup-28 with f2stickpup _fails_ at boot - long wait for the partition - seems to time out and I get error messages - I'll take a photo tomorrow because I can't save a log because no keyboa

[2021-04-05 19:26] dimkr commented on #1993
Sounds like a good excuse to release 7.1 😄

[2021-04-05 20:13] 01micko commented on #1993
But need the `wait_for_blkid()` bug fixed

[2021-04-05 20:53] CollaboratorGCM commented on #1993
Confirmed

[2021-04-06 08:48] gyrog commented on #1993
@01micko,
"making a USB install with frugalpup-28 with f2stickpup fails at boot - long wait for the partition - seems to time out and I get error messages - I'll take a photo tomorrow because I can't save a log because no keyboard - tested on 2 machines"

The "wait" is timing out, it would seem that that whatever "blkid" uses as it's source is not being updated.
For me this only happens if I use y

[2021-04-06 08:52] dimkr commented on #1993
What kernel reproduces the issue?

[2021-04-06 08:53] gyrog commented on #1993
I was trying to test slacko-alpha-alpha64..... on a usb device.
The "wait-for-partition" timed-out, resulting in predictable error mesages.
I replaced the kernel with a different 64 bit kernel, no-problem.

The thing that's supposed to change is the output from "blkid", when the kernel becomes aware of the partition.

[2021-04-06 08:58] gyrog commented on #1993
Dead keyboard usually means it needs kernel modules, which 'initmodules' can't fix until second boot.

[2021-04-06 11:42] gyrog commented on #1993
I just noticed there is an error in the  'wait_for_blkid' code in 'init', but it is not the current "bug",
there is an "exit 1" when there should be a "return" statement. But this "error" is never activated becuse the rest of the code always calls the function with 2 parameters.

So, I'm producing a patch for the 'wait_for_blkid' code.
I also notied that the way it is called is not very straight f

[2021-04-06 12:10] 01micko commented on #1993
Might be the key to the "bug" in linux 5.10 .. building and testing now..

my `slacko64initmodules.txt`
[code]

That's why the keyboard failed and I'm thinking USB in general. Funnily enough, I booted on an sdcard on my laptop just fine.

Oh, and I promised a screenshot..

![PXL_20210406_112501588](https://user-images.githubusercontent.com/1019119/113708728-1cc5fa00-96d1-11eb-86e8-fa3fb6bb85c6.jpg

[2021-04-06 12:33] 01micko commented on #1993
Yes!

[code]

they were `=m` so that "bug" is solved. I can probably close this issue but I'll just do a test from booting the iso off USB drive. Back soon.

[2021-04-06 12:44] gyrog commented on #1993
Sorry, that's the problem with your dead keyboard, but I'll be surprised it if fixes the "Waiting for partition" failing.

[2021-04-06 12:50] 01micko commented on #1993
Absolutely **did** fix it... I'm committing the new kernel config momentarily and will be updating all 'in use' branches including `init-experiment`.

Just had success booting of iso on a USB stick and that _was_ broken, but not because of recent commits but because of the kernel config.

[2021-04-06 12:52] gyrog commented on #1993
Yes, of course,  "blkid" can't find a usb device if the kernel has no usb support.

[2021-04-06 12:52] #1993 closed, assigned to nobody

[2021-04-06 13:00] 01micko commented on #1993
Just as a side note, my keyboard has _never_ not been detected in all previous kernels I've used in the last 18 months since I bought it. That was the "clue" to me.

[2021-04-06 14:18] peabee commented on #1993
Just interested what
CONFIG_USB_XHCI_PCI_RENESAS=y  "Support for additional Renesas xHCI controller with firmware"
does as I didn't have that in my configs.....is this common hardware?

[2021-04-06 16:37] dimkr commented on #1993
Puppies with 5.10.x built after https://github.com/puppylinux-woof-CE/woof-CE/runs/2280183894 is done should have the fix.

[2021-04-06 19:14] CollaboratorGCM commented on #1993
I have 7 different BIOS/UEFI PCs to test v8.1.4+ for this problem. Mick, where
can I source your test version?

[2021-04-06 20:29] gyrog commented on #1993
My patch to 'init' is now rather non-urgent.
I'll commit it to 'testing' in a few days.

[2021-04-07 04:04] 01micko commented on #1993
It's an xhci controller. My mobo has it. If absent from any recent  kernel my machine wont have usb access. Need to be builtin for at least my machine to boot from USB.

[2021-04-07 06:24] dimkr opened #2217 "ptheme does not set the cursor theme for spot"

[2021-04-07 06:27] peabee opened #2218 "loopback.cfg not in .iso for recent builds"
https://github.com/puppylinux-woof-CE/woof-CE/blob/testing/woof-code/support/mk_iso.sh
Line 162:
cp -f ${PX}/usr/share/boot-dialog/loopback.cfg ${BUILD}/boot/grub/

I have had a report that loopback.cfg is not being copied into the .iso for my recent builds and indeed this is the case.
Why would line 162 of mk_iso.sh not be actioned?
/usr/share/boot-dialog/loopback.cfg is in rootfs-complete

[2021-04-07 06:35] peabee commented on #2218
Ah - I don't have:
/rootfs-complete/usr/share/grub2-efi
line 34

where should this be coming from?

[2021-04-07 07:13] 01micko commented on #2218
noarch .. surprised you didn't see it there.

`grub2_efi-2.02.2018.08-fd64.pet`

It's there so it's  so it's  available for 32 and 64.

[2021-04-07 07:39] 01micko commented on #2217
The theme needs to be in /usr/share/icons - I had a package but it's gone - when I stomped off for awhile.

[2021-04-07 07:49] peabee commented on #2218
Thanks.
What I don't understand is why I now need it when I didn't need it previously?
Was it maybe provided in frugalpup and has now been removed? @gyrog ?
Closed - thanks.

[2021-04-07 08:13] 01micko commented on #2218
You probably did but didn't realise

[2021-04-07 09:17] gyrog commented on #2218
The grub2 efi code in FrugalPup is '/usr/local/frugalpup/grub2-efi.tar.xz'.

[2021-04-07 09:48] peabee commented on #2218
@01micko @gyrog
Having to have both makes the .iso about 10MB bigger...... frugal.pet and grub2_efi.pet
Still wondering what has changed fairly recently??

[2021-04-07 11:13] 01micko commented on #2218
The whole 'cd-boot' thing needs a rewrite. It _should not_ be a download. Woof is perfectly capable of building it on the fly in a few seconds... that's how it was and IDK why @wdlkmpx couldn't work with that and simply adjust the script :confused:

Anyway, it's something that needs fixing and is entirely related.

NB: the fatdog grub2 was a part of woof before that. But forward we must move.

@gy

[2021-04-07 11:38] 01micko commented on #2218
No, the `grub2_efi` pet is 1207 K xz compressed. Maybe expanded it might be approaching 10 MB. 'cd-boot' probably adds it own bit because the `efi.img` must be included to boot on UEFI systems.

[2021-04-07 13:10] gyrog commented on #2218
@01micko
I do not have a build sript for 'grub2-efi.tar.xz'.
The files in the 'grub2-efi.tar.xz' in FrugalPup were generated by @jamesbond, I just repackaged them a bit.
He assurered me that it was a signigicantly "patched" version of 2.0.3 that already had the best parts of 2.0.4.
See issue "Custom grub efi package for puppy #1618", 'EFI-shim-1.33-puppy.zip'.
This also includes 'puppy.cer' the pu

[2021-04-07 15:25] peabee commented on #2218
I'm really confused (not an uncommon occurrence!) as my build configs show me that during the 2nd half of 2020 I deliberately excluded the grub2-efi.pet from my builds - not just one build but several. This leads me to think that some information must have "appeared" to cause me to do this - but I am at a complete loss to remember what that was. Reinstating grub2-efi in the build does inevitably m

[2021-04-07 15:25] #2218 closed, assigned to nobody

[2021-04-07 16:24] dimkr commented on #2217
The theme is set for root but the cursor changes to the X cursor when I'm inside Firefox, or any other application that runs as spot.

[2021-04-07 17:12] CollaboratorGCM opened #2219 "Indeed, loopback.cfg has disappeared in PB's WoofCE builds"
#2218 is closed. ... BUT ...
Is this problem widespread?

This affects both developers and users:

- Developers who have become accustomed to seeing their WoofCE outcomes available for a variety of boot options
- User planning for those who are now using SG2D to boot their ISOs and use as an option to Frugal without Frugal storage needs.

But, we know of those affected.

Lastly, it appears moving

[2021-04-07 18:41] dimkr opened #2222 "ptheme offers only the "X cursor theme"
Listing of themes is broken, but the cursor theme does change when using a global theme.

[2021-04-07 19:25] 01micko commented on #2218
@gyrog

Maybe, for now, we can put frugalpup's grub2 into woof, or replace the fatdog noarch package.

Frugalpup _can still ship with grub2_ but with 2 changes
- a `pinstall.sh` deleting the frugalpup grub2 files from the frugalpup location if grub2 is detected in `/usr/share/...`
- some conditional scripting changes to accommodate the new location in `/usr/share/...`

[2021-04-07 20:11] gyrog commented on #2218
@01micko,
Except that FrugalPup is primarily released as a ".sfs" file, rather that a ".pet"
If FrugalPup is installed as a ".sfs" then there is little advantage in leaving the file out.

But yes, as a ".pet", a 'pinstall.sh' fifle could delete the grub2 code in FrugalPup, if it exists in Puppy,
this should result in only 1 copy in the ".iso", yes??

Internally, FrugalPup wlll give preference to u

[2021-04-07 20:14] 01micko commented on #2218
We create a new branch and deal with the fallout later. `cd-boot` does depend on current grub2 but as stated that needs to change.

[2021-04-07 22:11] gyrog commented on #2218
We could save some space from 'grub2-efi.tar.xz' by removing the 32bit stuff, and making it available independently, perhaps as an archive that can be extract into '/EFI/boot' or '/EFI/Puppy'.
The 32bit efi code is very rarely used, although I have a uefi Lenovo that will recognise only the 32bit efi.

[2021-04-08 00:32] gyrog commented on #2218
Sometime ago I made 'grub2_frugalpup-20.pet' for storing the grub2 binaries in '/usr/share/grub2'.
Is this used in woof-ce?

[2021-04-08 09:00] 01micko commented on #2219
No

Really a localised issue of which the dev is aware and the rest of us have on the radar.

A possible outcome.

[2021-04-08 09:00] #2219 closed, assigned to nobody

[2021-04-08 17:13] #2217 closed, assigned to nobody

[2021-04-08 17:13] dimkr commented on #2206
Can be closed?

[2021-04-08 17:13] #2193 closed, assigned to nobody

[2021-04-08 19:14] #2206 closed, assigned to 01micko

[2021-04-10 09:18] dimkr opened #2227 "nlsx is not loaded automatically when inside the Puppy ISO"
The user must understand English well enough to configure Puppy to load this SFS 🤔

Maybe it should become an "ndrv" and get loaded by the init script.

[2021-04-10 09:36] 01micko commented on #2227
`ydrv` ? That will do.

[2021-04-10 09:40] dimkr commented on #2227
Technically yes, but this use of ydrv is not exactly what's described in https://github.com/puppylinux-woof-CE/initrd_progs/blob/master/0initrd/README.txt#L38.

EDIT: and, renaming nlsx to ydrv would conflict with the YDRV_INC mechanism.

[2021-04-11 03:03] 01micko commented on #2227
Ok, I don't see a PR for a0de935 yet.

[2021-04-11 05:04] dimkr commented on #2227
Yes, needs testing. I'll take care of that today or tomorrow probably.

[2021-04-12 13:30] peabee opened #2230 "Slacko64-8.1 - /usr/lib64/gconv directory is missing"
Directory /usr/lib64/gconv from package glibc is not being included in the build.

A consequence is that Gnumeric is unable to open .xls files...... iconv errors due to missing CP1252.so file

Will try to find out why it is being deleted......

[2021-04-12 13:49] peabee commented on #2230
Same problem with the "new" FossaPup64-9.5 ...........

[2021-04-12 15:23] dimkr commented on #2230
focal64 in woof-CE is half-broken (unless someone does the work of cleaning up Fossapup64 and reproducing it in one, clean woof-CE build), so it's not a good environment to test things. For example, text in the terminal isn't rendered correctly.

~Does this happen in slacko64 8.x?~ nvm, read the title of this issue from the middle

[2021-04-12 15:41] peabee commented on #2230
Yes - title says it all!
The whole directory is c. 2M compressed - presumably it could be "cut down".....

[2021-04-12 16:46] peabee commented on #2230
It used to be in "older" builds - e.g. both the "real" FossaPup64-9.5 and Slacko64-7.0 have the gconv folder with about 250 .so files.....
It must be being deleted by 2createpackages but I'm blowed if I can see where! templates-packages for glibc don't seem to be the culprit.....
Flummoxed!

[2021-04-13 13:59] peabee commented on #2230
gconv is being put into glibc_DEV ............. but why?

[2021-04-13 19:33] 01micko commented on #2230
Should I remove the suspected code I referenced? @dimkr

EDIT: doing it

[2021-04-13 20:01] 01micko commented on #2230
Yeah _*gconv_ but could affect anything starting with 'gc'

[2021-04-14 05:32] dimkr commented on #2230
What problem does this deletion fix? 🤔

[2021-04-14 06:12] peabee commented on #2230
https://github.com/puppylinux-woof-CE/woof-CE/issues/2230#issue-855980173

[2021-04-14 06:25] dimkr commented on #2230
I was referring to the deletion of the gconv directory. What's the purpose of deleting it?

[2021-04-14 07:37] peabee commented on #2230
It is currently being erroneously moved from the main sfs to the devx
The @01micko change to an @rizalmart PR should (untested) restore the status quo where the gconv directory from glibc is included in the main sfs.
The gconv directory should not be deleted as it is needed for iconv to do character map changes (I think).

[2021-04-14 10:41] peabee commented on #2230
I have done 2 builds following:
BUILD_FROM_WOOF='testing;5aae9c22b;2021-04-14 05:54:56 +1000'
and the folder gconv is now back in its correction location in the main sfs - thanks @01micko

[2021-04-14 10:41] #2230 closed, assigned to nobody

[2021-04-14 11:04] 01micko commented on #2230
Anyway, nice catch @peabee and fairly timely too. Bug only existed 22 days. Pays to test!

[2021-04-15 09:52] peabee commented on #2230
I suspect the number of people testing new builds using new versions of Woof-CE is very limited.
I rather think given the huge number of recent Woof-CE changes it may be time for a pause and for a small number of testing releases to be made available for wider testing on the forum.............

[2021-04-15 16:21] dimkr commented on #2230
Or, alternatively (and I strongly support this idea), we can set up automated releases (say, once a week) of a Puppy with an update tool, as I did with dpup in https://github.com/dimkr/woof-CE/actions/workflows/dpupos-rolling.yml and https://github.com/dimkr/woof-CE/releases. If we have something like this but based on Fossapup64 or Slacko 7.0 and with a bug reporting tool, it will be useful enoug

[2021-04-15 16:31] peabee commented on #2230
I think this may discourage people from testing as they will be unsure what the state is of the version they're testing and whether their test results have already been superceded by later releases..... maybe every 3 months?

[2021-04-15 16:40] dimkr commented on #2230
The fundamental problem is that code pushed into testing breaks things (and people change things in testing without testing the changes, or without letting other eyes to look at the changes first, but that's a different problem). If you can't guarantee testing doesn't break after a certain commit, you can't guarantee it doesn't break in the last day of each 3 month period, so infrequent releases a

[2021-04-15 20:59] CollaboratorGCM commented on #2230
Understanding both of your points, I think the current dilemma is the
"community" of users have changed over the past 19 months. We have to face
that fact.

I see current efforts, here, as positive and right direction of its movement; hence achievements.

The past testing community has changed. It appears to have become more individualized versus a desire to participate in a group.

Several factor

[2021-04-15 22:33] CollaboratorGCM commented on #2230
@dimkr will there be any ISOs forthcoming? I had noticed your images on
your DPUP site.

Just wanted to know if WoofCE generates ISOs for your weekly postings.

[2021-04-16 05:59] dimkr commented on #2230
No. I can set up weekly releases of Puppy ISOs built from latest woof-CE, if we find it useful (I do).

Ignore my automated dpup releases, they built using a fork of woof-CE.

[2021-04-17 04:31] 01micko commented on #2003
At this stage, frugalpup by @gyrog can install grub2, with secure boot alongside windows or another Linux distro on the hard drive or create a frugal install to USB or SD/MMC card. Closing.

[2021-04-17 04:31] #2003 closed, assigned to nobody

[2021-04-17 04:44] 01micko commented on #2116
Further to that discussion `dhcpcd` has been forked on github by Roy. https://github.com/NetworkConfiguration/dhcpcd

Sure the support can be add as mentioned for dhclient and udhcpcd but I don't see it as a pressing issue. Closing. Feel free to re-open.

[2021-04-17 04:44] #2116 closed, assigned to nobody

[2021-04-17 04:52] #652 closed

[2021-04-17 04:52] #721 closed

[2021-04-17 04:52] #827 closed

[2021-04-17 04:52] #951 closed

[2021-04-17 04:52] #1030 closed

[2021-04-17 04:53] #1167 closed

[2021-04-17 04:53] #1352 closed

[2021-04-17 04:53] #1618 closed, assigned to nobody

[2021-04-17 04:57] 01micko commented on #2227
NLSX and DEVX should really be treated as special cases. If they reside on the iso/install media then they should be automatically be loaded.

[2021-04-17 05:04] 01micko opened #2235 "kernel-kit build.conf should be copied to the build"
We copy in the DOTconfig, the firmware list, perhaps the kernel-kit configuration should be copied as well.

The reason is that in the case of Slacko-7.0 `zstd` isn't supported in userspace because the Slackware libs are approaching 6 years old. That build.conf should be used (in a local build) for building the kernel so that the latest LTS kernel can be reproduced faithfully.

[2021-04-17 13:46] gyrog commented on #2227
I don't have a problem with the idea that if you place  an appropriate devx...sfs file in the install directory, then it automatically gets loaded at the next boot.
But, it must be at the very bottom of the stack.

Maybe it's been cleaned-up since then, but a few years ago when I first started playing  with loading extra sfs files above the Puppy system sfs files, I tried the devx. That was a big

[2021-04-17 13:57] gyrog commented on #2227
@dimkr,
Could you please move the block of code in 'init' that actually does the deed, so that it is after the zdrv, and before the ydrv, the diff would then read "@@ -961,6" instead of "@@ -969,6"
or
Remove the "p" parameter from the end  of the "setup_onepupdrv" command.

I don't think that the very top of the stack is the appropriate place for the ndrv.

[2021-04-17 16:00] dimkr commented on #2227
@gyrog I believe "ndrv" is not the way to solve this issue. Instead, I think {dev,doc,nls}x should be loaded automatically. The layer position doesn't matter much because these three and the main SFS are 4 parts of one whole, and therefore shouldn't provide different files at identical paths.

[2021-04-17 21:39] #2235 closed, assigned to nobody

[2021-04-21 01:24] rubyFeedback opened #2240 "Package Listing available on the homepage?"
Hey puppy folks,

Normally I work on a powerful desktop machine. My current one has 16GB of RAM and 4 cores; I know I know
people already have more, but it's quite fast. No issues there.

But I have a very few old laptops. So either I toss them away - or I repurpose them. But they lack
RAM, so ... puppy would seem useful. One of them still uses 32 bit, so this is annoying for me to
have to deal wi

[2021-04-21 05:56] dimkr commented on #2191
@puppylinux-woof-CE/members @rizalmart @gyrog @zigbert (who did I miss?)

I can branch from testing now, set up automated periodic releases (slacko 7.0.1, 7.0.2 ...), cherry-pick fixes for severe issues from testing every once in a while (say, once a week or two), and set a deadline (half a year?) where this branch will be synced with testing to start another fixes-only period.

But for that to wo

[2021-04-21 07:48] #2123 closed, assigned to nobody

[2021-04-22 09:26] peabee commented on #2149
Is there any way to change the colour of the pa-applet systray icon?

[2021-04-22 19:34] 01micko commented on #2149
It depends on the gtk icon theme you use.

[2021-04-23 23:24] rizalmart opened #2242 "Themeble freememapplet tray icons"
I suggest that freememtrayapplet (Free memory applet of puppy) icons must the themable by reading /usr/share/icons/(theme)/(pix size)/status folder while using /usr/share/pixmaps/puppy as fallback

[2021-04-23 23:27] rizalmart commented on #2186
QuickPup 21.03 brings back the PPM 2.1.x you talked about. However classic install mode was dropped due to complexity.

[2021-04-24 16:30] #1847 closed, assigned to nobody

[2021-04-24 21:55] CollaboratorGCM opened #2244 "QEMU GUI"
Anyone notice a problem using this when you check the "enable SAMBA" box?

[2021-04-30 05:03] CollaboratorGCM opened #2247 "Wayland progress among the distros"
The is an FYI.

As time moves us, Wayland is progressing in the Linux community with Fedora, Debian, Ubuntu, Arch just to name a few.

Most, if not all, know that nVidia is on-board joining the other video card manufacturers.

Here is **[a document written for system developers and admin](https://wiki.debian.org/Wayland#Others)** that seems to be rather current.

Again, this post is FYI

[2021-04-30 20:35] 01micko opened #2248 "gtkdialog gtk3 theming"
The 'on the fly' theming for gtk3 needs fixing and with [this old commit](https://github.com/puppylinux-woof-CE/gtkdialog/commit/3b43d8e1c4d3043d32780b893f1d0ce32d970a71) that largely went unnoticed it is possible to add an option to the gtkdialog call pointing the app at an appropriate `gtk3_xxx.css` theme file.

[2021-05-01 07:18] rizalmart commented on #2248
Does all puppy scripts are source compatible with gtk3? If not, what are those scripts?

[2021-05-01 07:18] rizalmart commented on #2248
Does all puppy scripts are source compatible with gtk3? If not, what are those scripts?

[2021-05-01 23:15] 01micko commented on #2248
Mostly issues is where a theme is set in the script. There may be some other cosmetic issues often solved by correctly packing the widgets.

[2021-05-02 21:54] 01micko opened #2251 "improve zstd support"
`zstd` has been in puppy a while now and support is flakey at best.

Here's what needs doing:

- [x] fix run action for a a simple zstd compressed file : eg `myfile.zstd`
- [x] fix icon for zstd compressed file (icon themes) - `application/x-zstd`
- [x] fix icon for zstd tarball - `application/x-zstd-compressed-tar`
- [x] fix icon for arch zstd packages and run action - `application/x-archlinux-pa

[2021-05-03 06:31] peabee commented on #2251
Some work was done in Jan 2020:
https://github.com/puppylinux-woof-CE/woof-CE/pull/1742
https://github.com/puppylinux-woof-CE/woof-CE/pull/1743

ppm, xarchive, pextract and pcompress have been able to handle Arch zstd packages for some time.......

[2021-05-03 23:02] CollaboratorGCM commented on #2251
FYI. Kernel update coming ==> https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/YYSL4WQ6A337UNAR3AYBWKAROJ42SBOO/

User use Implementation(s) should follow.

[2021-05-04 04:59] dimkr commented on #2251
Compressed kernel modules inside a (compressed) Squashfs image. As far as I know, this can increase size *and* slow down loading, not the other way around.

[2021-05-04 09:12] 01micko commented on #2251
That's why we ditched them when woof-CE was born. 1 level of compression is enough.

[2021-05-04 11:49] 01micko commented on #2251
As far as my fifth item in the check list goes I think we should use upstream `shared-mime-info` where possible.

[2021-05-04 12:41] 01micko commented on #2251
That is a small portion of what needs to be done. At least now we have supporting mime icons. Arch packages are a drop in the bucket really but we'll get there.

[2021-05-04 12:49] peabee commented on #2251
I notice that Slackware 2.1 freedesktop.org.xml is much bigger (like getting on for x10) the 1.10 common32/64 versions..... was something done to reduce the size for puppy?? Is a package template needed? @wdlkmpx @woodenshoe-wi may have clues?

[2021-05-04 13:00] peabee commented on #2251
I think its because all the language variations have been stripped out...........
e.g.
[code]

[2021-05-04 13:43] woodenshoe-wi commented on #2251
I think the last version of shared-mime-info that I made pets for was 1.9

I used the scripts from puppylinux-woof-CE/petbuilds generic branch, basic/pkgs/shared-mime-info at version 3130a6e
puppylinux-woof-CE/petbuilds@3130a6e

[2021-05-04 16:43] peabee commented on #2251
Looks like line 42 of https://github.com/puppylinux-woof-CE/petbuilds/blob/generic/basic/pkgs/shared-mime-info/shared-mime-info.petbuild ......
`sed -i '/xml:lang/d' freedesktop.org.xml`
is what deletes the language variations
and needs to go into a package template

[2021-05-05 06:33] 01micko commented on #2251
Sure, we can have a package template to reduce the size by deleting the languages, but maybe it should be added to the `nls` dir before alteration. I'll take a look.

[2021-05-05 07:24] 01micko commented on #2251
Yes, it works
`shared-mime-info_FIXUPHACK` where the orinal goes to _NLS

[code]

[2021-05-05 07:41] peabee commented on #2251
Should the Slackware install script run?

Processing shared-mime-info
 processing shared-mime-info-2.1-i586-3.txz
 **executing (Slackware) install script**
 executing packages-templates/shared-mime-info_FIXUPHACK

doinst.sh
#!/bin/sh
if [ -x /usr/bin/update-mime-database ]; then
  /usr/bin/update-mime-database /usr/share/mime 1>/dev/null 2>/dev/null
  cat /etc/passwd | while read passwdline ; do

[2021-05-05 07:52] 01micko commented on #2251
Doesn't do any harm.

[2021-05-05 08:07] peabee commented on #2251
Takes quite a time to run - seems to be doing "multi-user" types of things? - maybe a shared-mime-info_PRE is needed like glibc_PRE to remove it?

[2021-05-05 08:26] 01micko commented on #2251
I see. This fixes it.

[code]

Committing soon. Then doing a test run with a simple zstd compressed file to see if run action is fixed - if so will close.

[2021-05-06 06:14] dimkr opened #2252 "Support for running JWM over Cage+Xwayland"
https://source.mnt.re/reform/reform-system-image/-/blob/mmdebstrap/reform2-imx8mq/template-skel/bin/reform-windowmaker

It's a very neat trick!

I've built a dpup bullseye with wlroots and all the required Wayland bits, then built Cage and used it to run a fullscreen Geany or ROX-Filer.

I couldn't run a non-rootless Xwayland, though, because there's no elogind and Cage doesn't like running as roo

[2021-05-06 06:33] dimkr commented on #2247
So the issue here is that other distros are ahead of Puppy? What's the action item?

[2021-05-06 23:44] CollaboratorGCM commented on #2247
"Action items?"  2 come to mind:

1. Maybe the steps to move from XORG to Wayland? (The experiences of other distros, if available)

2. BUT, "beware" of forum community reactions to anything new. Maybe better to announce that the change is progressing, first; allowing the expected noise level to diminish as this progresses. (OR, just cold-turkey the move without announcing the change. The importan

[2021-05-07 21:56] 01micko commented on #2251
finally got .zst files working with pupzip both in s-m-i 2.1 (slackware) and 1.10 (puppy generic)

[2021-05-07 21:59] #2251 closed, assigned to nobody

[2021-05-09 10:43] 01micko commented on #2244
There are more problems than that - fixing soon.

[2021-05-09 10:56] CollaboratorGCM commented on #2244
Also, I've been meaning to mention this for awhile as it is important step for SAMBA: Hostname processing on the desktop

**[See this by @Jamesbond.](https://distro.ibiblio.org/fatdog/web/faqs/winbindd.html)** Could this be normally included in PUPs. Use of hostnames variously on the desktop would be a welcomed addition, OOTB.

This SAMBA addition probably should be a separate task issue.

[2021-05-14 15:49] dimkr commented on #2252
Got the Puppy desktop running over Xwayland and cage. Had to build Xwayland, seatd, wlroots (with a patch that allows it to build against Wayland 1.18.0) and cage (with a patch that allows it to run as root).

The keyboard wizard doesn't do anything because Xwayland doesn't read Xorg.conf.

Applications seem to work just fine and everything is rendered without tearing, on an old x86_64 laptop. Hav

[2021-05-15 12:46] To-Slalom opened #2261 "xkbconfigmanager"
Hello everyone,

i just come across with an issue in BusterPup and Fossa64 with xkbconfigmanager it could be in other puppy too but ...
Files
/etc/keymap , /etc/codepage , /etc/X11/xorg.conf , /var/tmp/xkblayout-table
Main Script xkbconfigmanager

/etc/X11/xorg.conf
in line 61  isn't remove if keyboard layout don't match 	#Option      "XkbVariant" "" #xkbvariant0
i share some fotos in my site just

[2021-05-15 13:46] dimkr commented on #2252
Look ma, no Xorg!

![xwayland](https://user-images.githubusercontent.com/1471149/118363444-0e56e200-b59d-11eb-8bb5-de34bf82b8ee.png)

[2021-05-15 15:22] rizalmart opened #2262 "compile samba without icu4c/libicu"
Puppy has homemade samba. However problems occurred due to dependency on icu4c/libicu. This library was very bloated and their releases was changing rapidly and fast

I suggest that samba for puppy must be compiled without depending on icu4c/libicu (if possible)

[2021-05-15 17:09] mrfricks opened #2263 "old /etc/fonts/fonts.conf causing issues"
i was looking at the auto woofce build of fossapup and the fonts displaying as boxes problem.  this is because an old /etc/fonts/fonts.conf overwrites the one from fontconfig in the build process.

/packages-templates/xorg_base_new seems to be the problem

[2021-05-15 20:35] CollaboratorGCM commented on #2252
+1!

[2021-05-16 09:47] peabee opened #2264 "syslinux in slacko64-8 ?"
@01micko
Why does slacko64-8 use the syslinux version 4.0.7 from slackware when other builds use the 6.4 .pet in common64?

The line in DISTRO_PKGS_SPECS-slackware64-15.0 suggests a .pet is being used but is configured wrongly for a .pet:
yes|syslinux|syslinux|exe,dev>null,doc,nls| #must use my pet syslinux pkg..
should be:
yes|syslinux||exe,dev,doc,nls| #must use my pet syslinux pkg..
???

[2021-05-16 10:22] 01micko commented on #2264
That's an old comment "#must use my pet syslinux pkg". Why is it an issue?

I much prefer to use upstream for compatibility. I've had endless problems with 'common'

[2021-05-16 12:16] peabee commented on #2264
Big difference in version numbers...... 4.0.7 to 6.4
All other recent Woof-CE pups (FossaPup64 and DPupOs64) use the common64 version....
I've been alerted that a component (extlinux) is missing from the UPup32 builds due to the Ubuntu tendency to break things into smaller and smaller pieces - I need to decide what to do and part of the process was to look at what other Pups were doing.....

[2021-05-16 17:18] CollaboratorGCM commented on #2252
I have 3 configurations for testing an ISO when one is available that will interest you in your wayland progress.
1. Touchscreen AIO AMD 2018 desk
2. TV-HDMI-nVidia Intel 64bit desktop
3. 2008 HP touchscreen Intel 64bit Laptop

[2021-05-16 19:47] 01micko commented on #2264
Ok, and really doesn't matter about upstream in this case as syslinux is all static bins. I'll probably change for slacko.

BTW, there was no version 5 of syslinux as far as I'm aware.

[2021-05-16 19:47] 01micko commented on #2261
Thanks for report. We will look into this.

[2021-05-17 08:46] dimkr commented on #2252
Published https://github.com/dimkr/woof-CE/releases/tag/cagepup64-8.0-prepreprealpha1, for early testing.

The keybouard/mouse wizard should work, but there's no way to configure the resolution and I'm sure there are more issues.

Tested on a Dell Latitude E7250 (x86_64) and an Asus C201 (ARM) so far.

I could connect the Dell laptop to a second monitor and it works, but there's no way to configur

[2021-05-17 15:00] dimkr opened #2267 ".desktop files are opened with Geany when xdg-utils is installed"
xdg-open from rootfs-skeleton is replaced with the real deal, which opens .desktop files with Geany instead of running what's in Exec through `rox`.

When I install Chromium in dpup, it pulls this package.

[2021-05-17 15:04] dimkr opened #2268 "LXTask doesn't show processes running as spot"
It needs to be patched to enable that option by default!

[2021-05-18 04:42] CollaboratorGCM commented on #2252
1st attempt at boot: No GRUB2 loopback.cfg, could not boot the ISO directly via SG2D. Would be nice if I could to avoid having to go to any media to test operations.

Created a CD and booted on a 2 thread-2 core Intel desktop via VGA monitor.

Yes, there are issues when at desktop, but this, understandably, is an early precursor.

At shutdown, the normal PUP operations are working with options pre

[2021-05-18 05:01] dimkr commented on #2252
The only issues relevant here are related to graphics and input peripherals. What issues do you see?

[2021-05-18 05:06] dimkr commented on #2267
http://forum.puppylinux.com/viewtopic.php?f=146&t=2971

[2021-05-18 10:04] #2268 closed, assigned to nobody

[2021-05-19 02:41] CollaboratorGCM commented on #2252
Firstly, Of the 3 mentioned platforms I offered for test, I have only been able to boot ONLY one: The old HP touchscreen laptop. It is a BIOS based PC, but the CD boots fine. The touch screen works but tapping is hit-miss requiring several taps sometimes to launch the desktop icons.
distro
Several of the Menu items are not responding to either touch or mousepad taps.

Next, My AMD system will NOT

[2021-05-19 05:03] dimkr commented on #2252
@CollaboratorGCM Is that with https://github.com/dimkr/woof-CE/releases/tag/cagepup64-8.0-prepreprealpha1 or https://github.com/dimkr/woof-CE/releases/tag/cagepup64-8.0-prepreprealpha3?

[2021-05-19 08:19] 01micko commented on #2267
Ok, approving.

[2021-05-19 08:20] #2267 closed, assigned to nobody

[2021-05-19 08:53] CollaboratorGCM commented on #2252
I have cagepup64-8.0.iso is the ISO with a filedate of 17 May at 294MB.

I will swap out for the prepreprealpha3 and retest. Hoping for the ISO with the loopback.cfg for SG2D use as it makes faster mode to get to testing PUP-DOG desktops on all of my PCs; BIOS/UEFI.

Edit: Just downloaded and will have to write ISO to media before testing. I sure you will rectify this via WoofCE in the future.

[2021-05-19 12:13] CollaboratorGCM commented on #2252
I've downloaded 3 of the preprealpha (PPA) versions. All test, today, have been run on a  2x Pentium Dual. (BIOS desktop)

- The PPA1 version boots all the way to desktop
- The PPA2 version boots to a prompt only...no desktop
- The PPA3 version boots to the "starting x..." message ... no desktop (**[this boot has a video log, here](https://photos.app.goo.gl/BxohfgjA5JkNerEq8)** where you can see t

[2021-05-21 10:15] CollaboratorGCM commented on #2252
@dimkr ... I hope this is helpful for this distro. I used @01micko & @peabee loopback.cfg as a guide. I extracted this "find_iso=${iso_path}" and added it to each linux line in your grub.cfg file creating a new file in the /boot directory named loopback.cfg. I use isomaster to add the loopback appropriately, creating new ISO for testing.

Hope this is met with favor in an attempt to help, as it al

[2021-05-22 17:00] peabee opened #2275 "Components with legacy links to murga-linux forum"
Using the command:
`find . -type f -exec grep -H murga {} + | grep -v \#`
produces the following lists of components in rootfs-skeleton and rootfs-packages where links remain to the murga-linux forum and which need to be updated:
[find-rootfs-skeleton.txt-false.gz](https://github.com/puppylinux-woof-CE/woof-CE/files/6526836/find-rootfs-skeleton.txt-false.gz)
[find-rootfs-packages.txt-false.gz](htt

[2021-05-23 03:32] 01micko opened #2277 "ptheme doesn't change rox filer icons"
When you change theme with `ptheme` rox-filer icons are mean't to change if you change icon theme, as it does in woof in the `ptheme/pinstall.sh` (line 131)

[code]
---
This bug should be fixed if rox is running and an enhancement is added below.
- [x] restart rox when theme changes if it's running (bugfix)
- [x] show icon theme relevant dirs in $HOME in rox (enhancement)
---

Adding that code to

[2021-05-23 11:46] 01micko opened #2278 "proprietary firmware build in 3builddistro is broken"
see my [comment](https://forum.puppylinux.com/viewtopic.php?p=26121#p26121)

It's not just a legality issue, the actual build is broken. I'll take a look as time permits.

- [x] fix logic in `3builddistro`
- [ ] if an `fdrvXXX.sfs` is present add the proprietary firmware to that.
- [ ] update links
- [ ] ditch old firmwares
- [ ] add bluetooth firmwares - many of these _are_ free but haven't made

[2021-05-23 11:49] 01micko opened #2279 "raspi kernel-kit build is broken"
Probably needs a new cross compiler. The one we are using is old.

[2021-05-23 11:54] #2248 closed, assigned to 01micko

[2021-05-23 11:57] 01micko commented on #2247
We are taking necessary steps re #2252 so closing

[2021-05-23 11:57] #2247 closed, assigned to nobody

[2021-05-23 11:58] 01micko commented on #2252
#2265 is merged.

[2021-05-23 11:58] #2252 closed, assigned to nobody

[2021-05-23 11:58] #2242 closed, assigned to nobody

[2021-05-23 11:59] #2222 closed, assigned to nobody

[2021-05-23 12:00] #2169 closed, assigned to nobody

[2021-05-23 12:00] #2027 closed, assigned to nobody

[2021-05-23 16:07] dimkr commented on #2279
Pi kernel building should be automated, Puppy is popular on the Pi!

[2021-05-24 06:23] 01micko commented on #2278
`support/get_fw` harks back to the days when we builtin the firmware to `zdrv`. There is also a logic problem in `3builddistro`

[2021-05-24 10:24] #2275 closed, assigned to nobody

[2021-05-24 10:24] #2264 closed, assigned to nobody

[2021-05-25 08:43] 01micko commented on #2277
Icons need to be added to `Puppy Standard` and `Puppy Flat`

[2021-05-25 13:58] #2263 closed, assigned to nobody

[2021-05-25 21:22] CollaboratorGCM opened #2283 "Builder example cannot be repeated"
I saw [**this on the forum**](https://forum.puppylinux.com/viewtopic.php?p=26354#p26354) as a set of steps to build on GIT.

Using those steps, my test results follow: (no matter if logged into GITHUB or not)
![Instructions dont match1](https://user-images.githubusercontent.com/15698050/119570141-b9298600-bd7d-11eb-9558-9db65616bccd.jpg)
![Instructions dont match2](https://user-images.githubuserco

[2021-05-26 05:12] dimkr commented on #2283
@CollaboratorGCM You're not even logged in ...

(and btw, the difference in GitHub's layout are because of the super small resolution you're using, or because the Chrome window is small)

[2021-05-26 06:01] dimkr opened #2285 "Image viewer buttons are tiny and have square borders"
![tiny](https://user-images.githubusercontent.com/1471149/119609854-f08d4680-be00-11eb-876d-104dfdbf4f78.png)

[2021-05-26 06:14] dimkr commented on #2285
https://github.com/puppylinux-woof-CE/gtk3_flat_grey_rounded/pull/5
https://github.com/puppylinux-woof-CE/gtk3_polished_blue/pull/5

[2021-05-26 12:59] mrfricks opened #2286 "#puppylinux irc chat"
It seems there's been some upheaval on irc.freenode.net https://news.ycombinator.com/item?id=27286628 and this has resulted with the #puppylinux channel being taken over, shutdown and redirecting to ##puppylinux.

there has been a mass migration of channels & staff from freenode over to irc.libera.chat including #ubuntu & arch due to the above situation.

some irc #puppylinux regulars (aloo_shuu,

[2021-05-26 13:49] Butterfly commented on #2286
If everyone liked how Freenode functioned in the former past, the volunteers who brought that joy and useful goodness went to Libera.....

What you said about the old channel, well, that explains that! I accidentally logged on a few months ago while playing with Bionic Puppy during a hardware failure. The channel users weren't nice, were oddly, verbally aggressive. I've had no inclination to go ba

[2021-05-26 17:31] #2285 closed, assigned to nobody

[2021-05-30 04:07] 01micko commented on #2286
I logged into irc.libera.chat using `irrsi` to sus it out. Seems legit, a few familiar nicks there.

I've no idea @mrfricks what to do to secure that chatroom. I left a message there which hopefully someone can read in the logs and contact me via either my website or diaspora*

@Butterfly , any suggestions?

Cheers to you both :smiley_cat:

[2021-05-30 04:09] 01micko commented on #2286
I've also rebuilt my `irssi-shell` script to connect to libera and will be releasing another alpha of the slacko64-8.x series very soon.

[2021-05-30 05:12] dimkr commented on #2286
How about making `defaultchat` (or whatever it was) open https://web.libera.chat/ (with #puppylinux as the channel) in the default browser?

[2021-05-30 05:26] 01micko commented on #2286
Yeah sure, if no chat client installed. Make that the default in `/usr/local/bin/defaultchat` and a` pinstall.sh` in a package can easily overwrite..

[2021-05-30 11:33] #2277 closed, assigned to nobody

[2021-05-30 11:53] f0xpup commented on #2286
@01micko
To register the channel, you find info on libera.chat under Channel Namespaces.
What's apt for #puppylinux, I reckon, is halfway that page: "How to register as a project"

A remark:
I do not think you should link the irc chat channel for Puppy to woofCE on github (explicitly) as @mrfricks suggested.
Who knows what may happen to woofCE and/or github in time?

[2021-05-30 15:35] qkall commented on #2286
Hey @01micko - I got your pm. and a message to come here... I have the channel secure but yes, looking to give it out to the staff.  I'm  just wanted to hold it until someone stepped up to - like mrfricks said - to prevent abuse use of the channel.  I'm sorry if this complicated things... but yes, if we could link up at some point I'll freely hand it over :)

I'm more quickly available via @qkall:

[2021-05-30 15:53] qkall commented on #2286
This my only request... we don't allow this to happen again due to lack of adequate moderation (talking numbers not quality).

[2021-05-31 08:10] PCplague commented on #2286
About f0xpup remark instead of pointing directly to libera.chat can it point to irc.puppylinux.com then irc.puppylinux.com can point to libera.chat ?

[2021-05-31 08:15] 01micko commented on #2286
I'm registered at matrix and sent you a PM

[2021-05-31 08:17] 01micko commented on #2286
rockedge, [forum](https://forum.puppylinux.com) coordinator owns the 'puppylinux.com' domain now. Not sure if you can set it up with a simple html redirect?

[2021-05-31 09:22] ikonia commented on #2286
having put some thought into this and drawing on experience from other IRC communities I'd suggest the following actions to protect the channel from future disruption and risk in the future

Setup a PuppyLinux IRC council - consisting of 5 members (more or less acceptable - just starting point for discussion)
This should consist of 3 IRC operators + 2 User / Community representatives

Draw up a li

[2021-05-31 09:33] PCplague commented on #2286
I agree 100% but don't want to be part of it (don´t want to be op)

[2021-05-31 09:48] 01micko commented on #2286
@ikonia sounds like a reasonable plan.

Who, should be IRC ops? (`moderators` in forum talk?)

I can stick my hand up as a community rep.. what about you @mrfricks , @dimkr ?

I rarely visit #puppylinux, usually to test chat client configurations in packages I build. Having the CNAME redirect certainly simplifies that, and I can take care of it because I do have access to the account.

Best place

[2021-05-31 10:01] ikonia commented on #2286
I'd probably suggest two levels of operator, a small group with 'full' access who understand how the IRC components work and a smaller group with operator access (eg: mute users, etc) so that they don't need to understand the full IRC component but just need to be able to moderate the channel.

I'd suggest the community members are active community members maybe a mix of people who've been around

[2021-05-31 10:04] 01micko commented on #2286
That's the _real_ key.

[2021-05-31 10:06] dimkr commented on #2286
I prefer to be nothing but a regular user :)

[2021-05-31 10:09] 01micko commented on #2286
Me too until @mavrothal made me an _owner_ of this repo! :scream:

[2021-05-31 11:02] ikonia commented on #2286
another step which would be good is to make a puppy IRC council repo on git hub so that decisions are documented and you can see approvals with commits.

[2021-05-31 22:29] J-Rey commented on #2286
I was the remaining co-founder (until I let my nick expire) & can help get the official channel back if we want to since would require group registration now & can easily prove my involvement. Not sure its worth it though since the unofficial channel seems good enough and should point to the [official IRC wiki page](https://wikka.puppylinux.com/ChatRoom) which has the policies outlined there and c

[2021-06-01 11:40] alooshu commented on #2286
1) This is not a woof-ce issue, 2) it is wrong that I had agreed to anything. Correct is, I wasn't even asked my opinion prior to the link of this issue circulating, 3) proposed solution: solving the problem at its root, reducing the distance between community managers, devs, and the end user, getting involved in the day-to-day business of puppy's IRC side, learning about the character of both the

[2021-06-01 18:51] PCplague commented on #2286
In IRC freenode channel ##puppylinux loot has changed the topic to: "You have found the back-up chat room for PuppyLinux on freenode.net.  Go to https://wikka.puppylinux.com/ChatRoom for the latest happenings.", but this page has nothing about the latest happenings. I asked him for a contact and he gave me his email, he also asked to "keep it simple" so I won't put it in public (here or IRC). Now

[2021-06-02 19:16] CollaboratorGCM opened #2298 "Adding built-in audio response subsystem to new PUPs"
Anyone **[see this](https://forum.puppylinux.com/viewtopic.php?p=23085#p23085)**

[2021-06-04 16:01] J-Rey commented on #2286
I outright asked for the topic to be changed to include the wiki page since it has the instructions on how to manually connect as well as referencing the rules/guidelines. I thought any of us can update wiki pages but it seems the registration is disabled so I'll update it as needed unless someone else wants to.

This GitHub issue is about possibly changing woof-CE to point to a different official

[2021-06-05 04:11] J-Rey commented on #2286
Found the e-mail in spam folder so here's [my latest post on the forum](https://forum.puppylinux.com/viewtopic.php?p=27254#p27254)

[2021-06-05 11:09] #2283 closed, assigned to nobody

[2021-06-05 20:17] CollaboratorGCM commented on #2244
**[QEMU v6](https://www.qemu.org/download/)** is available and stable.

[2021-06-05 20:52] CollaboratorGCM opened #2305 "Puppy documentation for builds and beyond"
I reviewed this. i thought our community would be interested in the findings.

**[A Documentation Workflow approach.](https://www.youtube.com/watch?v=gSjEQ49GDdc)**

**Merely FYI**

[2021-06-06 14:04] peabee opened #2307 "Duplicate Packages-puppy-noarch-official"
Why is Packages-puppy-noarch-official now duplicated in both
https://github.com/puppylinux-woof-CE/woof-CE/tree/testing/woof-distro
and now also in
https://github.com/puppylinux-woof-CE/woof-CE-noarch
??
Which is master??

[2021-06-06 14:09] peabee commented on #2307
I have updated https://github.com/puppylinux-woof-CE/woof-CE/tree/testing/woof-distro
for frugalpup-33.pet
but not
https://github.com/puppylinux-woof-CE/woof-CE-noarch

[2021-06-07 07:04] 01micko commented on #2307
There is a script that generates the file. You _should_ run it on every update. Then it can be the main source. Saves duplication of effort.

[2021-06-07 07:53] peabee commented on #2307
Where is the script?
How do you "run it"?
Which file is "generated"?
Which "it" is the main source??
It's very confusing having 2 versions of the same database.........!!

[2021-06-07 08:15] 01micko commented on #2307
root of the repo

click it

the `Packages-puppy-noarch-official`

The one in woof-ce for now

No it isn't. Generate it, copy to woof-ce

See https://github.com/puppylinux-woof-CE/woof-CE-noarch/commit/4e88c72f20e5d16061bb8ba7101b965519f0cf0f

EDIT: oh , I see, you don't use git cli, just upload files in github. Is that right?

[2021-06-07 08:39] peabee commented on #2307
Yes!

[2021-06-07 08:54] 01micko commented on #2307
Ok, I'll try and figure something out with a CI. So then maybe you can run the script from github.

[2021-06-07 09:02] peabee commented on #2307
I don't understand the reason for the change - what "problem" were you trying to solve??

The wiki will need to change if there is a new process:
https://github.com/puppylinux-woof-CE/woof-CE/wiki/Adding-or-Updating-noarch-packages

What is the script called? I don't see it in my downloaded copies of woof-ce.....

[2021-06-07 09:09] 01micko commented on #2307
The database was a mess. Simple.

Click the commit above for info. Otherwise I'll just delete it and carry on doing manual things if you aren't happy with it. By all means, you can take over from me if you want. I really don't have the time anyway.

[2021-06-07 10:27] peabee commented on #2307
Happiness doesn't really come into it...... just trying to understand why there are now 2 copies of the database and what needs to be done when a .pet is changed in the noarch repo.........

I can see a script called get_specs.sh in the noarch repo which seems to update the database in
https://github.com/puppylinux-woof-CE/woof-CE-noarch

but not the one in
https://github.com/puppylinux-woof-CE/wo

[2021-06-09 07:07] dimkr opened #2311 "ASPM is disabled in 5.10.x kernels"
[code]

This could result in reduced battery life.

[2021-06-09 10:19] gyrog commented on #2311
Are you suggesting that all the commented options be set to "y"?
Have you tried it?
If so, did it make any noticable difference?

[2021-06-09 10:47] dimkr commented on #2311
Nope, but I'm suggesting that we see what Ubuntu does and align with that.

Not yet. If this needs to be changed, I'll open a pull request and test it.

[2021-06-09 11:02] gyrog commented on #2311
@dimkr,
Aren't these changes to a kernel DOTconfig file?
If so, why not compile a kernel using a DOTconfig file containing the proposed changes, and run a Puppy with this kernel, before attempting to make any changes to woof-ce?

[2021-06-09 11:15] dimkr commented on #2311
I'll do the changes in a fork of woof-CE, build dpup or slacko, and do the testing. (And open a pull request.)

[2021-06-09 12:50] dimkr commented on #2311
Interesting, the Ubuntu 20.04 5.4.x kernel uses the same configuration.

[2021-06-09 12:50] #2311 closed, assigned to nobody

[2021-06-09 13:23] dimkr opened #2313 "man on dpup uses cat instead of less"
Quote from `man(1)`:

[code]

PAGER=less needs to be set in /etc/profile or something.

[2021-06-09 22:11] CollaboratorGCM commented on #2252
No GRUB2 "Loopback.cfg" from this WoofCE build.

Is this manually removed after ISO build by its developer or just not a part of WoofCE builds anymore?

Is this a problem or does this cause problems? Why is it not included? Makes for more work to do boot testings and desktop testings.

[2021-06-10 04:24] gyrog commented on #2252
@CollaboratorGCM,
I don't think it ever did have a "Loopback.cfg".
Current woof-ce Puppy has a script called 'isoboot' in 'initrd.gz' that gets executed by the 'init' script to handle direct .iso booting.

[2021-06-10 05:49] rizalmart opened #2315 "Just a thought: Microcode loading on Puppy (late loading)"
What if we add command to update microcode of a cpu on /sbin/init script? What will be it's implication?
If ever microcode loading is implemented, Is there any way to detect if Puppy runs on physical machine or virtual machine using bash?

[2021-06-10 08:32] CollaboratorGCM commented on #2252
ISOBOOT app does not work the same. And SG2D does not require the setup for ISOBOOT use you refer.

I could go into the differences, but that may not be what you want. Short answer: For past 20 months is WoofCE PUPs have included EFI, GRUB2 and loopback to facilitate PUP startups with little to no effort on the part of the developers/users when it was introduced in the WoofCE cycle. It takes liter

[2021-06-10 08:46] CollaboratorGCM commented on #2315
In S390 world, a bit in the PSW indicates bare-metal vs virtual.

I seem to remember that something similar was available in a X86/X86-64
machine instruction to report the same, but its been decades since I was
involved in that implementation.

[2021-06-12 14:46] dimkr commented on #2315
Debian loads microcode in the initramfs stage. Is it good enough to do this in rc.sysinit?

[2021-06-12 14:47] #1991 closed, assigned to nobody

[2021-06-12 23:28] rizalmart commented on #2315
Not all distro's loads microcode at initramfs stage. Also the update-microcode scripts that I made will simply just exit if early loading of microcode was detected

[2021-06-13 10:06] #2278 closed, assigned to 01micko

[2021-06-13 10:07] #2313 closed, assigned to nobody

[2021-06-13 10:10] 01micko commented on #2307
I'll leave it how it is until I can figure out a decent work flow.

The reason I automated the creation of the script is that there were errors in the old database. Not critical but an error is an error.

Maybe close this issue and raise a new one over at `woof-CE-noarch`?

[2021-06-13 12:28] #2307 closed, assigned to nobody

[2021-06-14 09:17] 01micko opened #2324 "I'm not the only one.."
Anyone who has commit rights or who is an owner here (@mavrothal and myself @01micko are owners) can merge or reject pull requests. Mav hasn't been here in a while, but I do know he is still around.

There is a backlog, I know, but I am busy with real life (work, family, ~kinky stuff~) and can't always review and merge stuff.

While I do what I can I am only one set of eyes. We are a  _team_ here

[2021-06-14 15:04] dimkr opened #2325 "GTK+ 3 pnote eats 60 MB of RAM on x86_64"
It's on by default, and it's a pretty big waste of RAM.

It's true that dialog and especially its GTK+ 3 variant can be resource hungry, but pnote deserves special attention because it's the only long-running gtkdialog process in a clean Puppy.

#2326 is only a partial solution, because it only reduce pnote's RAM consumption, and only on x86.

[2021-06-14 15:12] dimkr opened #2328 "Volume keys don't work with Xwayland and PulseAudio"
Not sure if this problem affects all builds, or just dpup, only when using PulseAudio, only when using Xwayland ...

It's tempting to add JWM key bindings for `pactl set-sink-volume @DEFAULT_SINK@ +5%` and `pactl set-sink-volume @DEFAULT_SINK@ -5%`, but I'd like to know what is causing this and what builds are affected.

[2021-06-14 18:51] dimkr opened #2330 "0setup and 1download download files insecurely, with --no-check-certificate"

[2021-06-15 02:03] qkall commented on #2286
So I just got a pm that Freenode wiped all their channels... I checked and #puppylinux is back up but unsecured and all that. So I think if y'all re-register the namespace you can get it back!  This is kinda good news.

I wouldn't mind bridging the channels to appease everyone but... I guess it depends on the consensus.

[2021-06-15 06:54] crabbedhaloablution commented on #2286
Freenode has imploded and there are currently at least 3 disjoint instances:
https://www.devever.net/%7Ehl/freenode_suicide

[2021-06-17 06:13] #2328 closed, assigned to nobody

[2021-06-17 09:54] mrfricks commented on #2286
would the CNAME redirect work seamlessly in the chat client? as if so this is brilliant future proof solution and means puppylinux will always own the chat.

i'm happy to be a community rep as i still pop on fairly regularly.

[2021-06-17 10:23] crabbedhaloablution commented on #2286
IIUC, instructing users to connect to a CNAME will not work with TLS, since the certificate domain is different from the domain being connected to. Some chat clients will allow you to ignore the warning, but that is arguably not a thing we want to accustom users to do.

[2021-06-17 13:39] dimkr opened #2336 "No suspend and lock on lid close"
Every major OS does this, but Puppy doesn't.

EDIT: only if acpid-busybox is not installed.

[2021-06-17 14:50] mrfricks commented on #2286
hi @crabbedhaloablution
it might have been mentioned earlier in this thread, but a hexchat/pidgin wrapper script could get the info from puppylinux and write to the .conf file before starting

[2021-06-17 16:03] dimkr opened #2338 "No yacc -> bison symlink in devx"

[2021-06-18 22:06] #2338 closed, assigned to nobody

[2021-06-19 11:08] #2336 closed, assigned to nobody

[2021-06-19 21:29] 01micko opened #2344 "Early microcode loading"
In [this post](https://github.com/puppylinux-woof-CE/woof-CE/pull/2316#issuecomment-864349820) in #2316 I performed a little experiment to see if early microcode loading would work in Puppy with our `initrd.[gx]z` and it worked! (Tested Intel only - will test AMD later).

**EDIT**: new code posted

What I propose is an entirely optional mechanism to concatenate the generated `ucode.cpio` archive t

[2021-06-19 23:30] Creatorson opened #2345 "trouble with wolf-ce errors"
I am following this (https://github.com/puppylinux-woof-CE/woof-CE/wiki/Building-a-Puppy-on-GitHub), but the program seems to get stuck when it gets to the built-for architecture (see screenshots).  I am trying to build for AArch64 using "arm", distro FossaPup64, version 9.5 and with kernel 5.10.  Probably user error.  Any suggestions would be appreciated.  Thank you-

![Screenshot from 2021-06-18

[2021-06-20 04:58] dimkr commented on #2345
Hi @Creatorson, it's a bug. `merge2out` gets stuck when you select a configuration that's not implemented. (It asks you to choose between options 1, 2, and 3, but you select 4 so it asks you again and again.)

There are multiple issues with the configuration you specified.

To build A Puppy similar to Fossapup64:
- "Architecture" should be `x86_64`, see https://github.com/puppylinux-woof-CE/woof-C

[2021-06-20 08:45] jamesbond3142 commented on #2344
1. Nice code, it's a keeper.

2. In Fatdog, we do early-microcode loading. We don't use late-loading because new microcode _could_ cause CPU feature change. In early loading, the kernel can re-init itself and adapts accordingly, in late loading, all the kernel initialisation is already done so if there are changes, it _might_ not be able to adapt properly (and develop difficult-to-debug problems l

[2021-06-20 09:27] 01micko commented on #2344
Thanks!

Yes I read about CPU feature change and thought that early loading is the correct solution for Puppy. Also, we don't need to carry those heavy intel microcode files in /lib/firmware by default.

My first thought was that FatDog uses huge initrd and that could be problematic but I see that editing the initrd is probably the best solution, which is certainly food for thought going forward.

[2021-06-20 13:53] rizalmart commented on #2344
That's the problem of early loading it requires modifying bootloader configuration or even repacking of initrd. That's why there is late-loading of microcode on my pull request. Unless create a workaround in order to implement early loading of microcode dynamically for example a dummy ucode.cpio file

[2021-06-20 14:45] gyrog commented on #2344
1. I don't understand why folk continualy think that adding a a file to initrd.gz is difficult, you just need the right tools, (blowing own trumpet), that's why I produced a utility called 'initrdfile', which provides functions to 'get|put|delete' a file in an initrd.gz, I've published this in the old forum some time ago. But I found that I updated the 'init' script so freuently that I have unpubl

[2021-06-20 15:07] Butterfly commented on #2344
Hi, s'me, the perennial lurker who may have misunderstood so my apologies in advance. Regarding the multiple initrd.gz files, I use `lilo` just enough to be dangerous.

One line that you can add to each `lilo` block in /etc/lilo.conf is `append`. I've not had to adjust that yet so I'm not sure of how far it can be pushed. I *do* know that multiple different things can be attached that are not addr

[2021-06-20 15:15] gyrog commented on #2344
Is this what we are talking about?

Quote from GNU GRUB Manual 2.06
"Command: initrd file [file …]
    Load, in order, all initial ramdisks for a Linux kernel image, and set the appropriate parameters in the Linux setup area in memory. This may only be used after the linux command (see linux) has been run."

Note: I just found out that Grub 2.06 has been released.

[2021-06-20 15:47] Butterfly commented on #2344
Was refreshing bird feeders which loosened up my brain. What about something under probably most likely `/etc/default/grub`? Or is that what's being described. I don't have grub2 installed to peek at what's already there (it doesn't like my GPT setup for some reason). To me, that directory has always felt like a more "static" place where Developers stash necessary recommendations that Users can th

[2021-06-20 16:18] #2345 closed, assigned to nobody

[2021-06-20 16:27] dimkr commented on #2344
For my use cases, which don't have an initrd at all (very similar to a "full installation"), I prefer microcode loading early in rc.sysinit, and I do think it should be an integral part of woof-CE, like other firmware/boot loader/etc' related stuff.

In other cases, I think yes - microcode should be loaded as early as possible and that means initrd. Slightly less-early loading can be implemented b

[2021-06-20 16:56] jamesbond3142 commented on #2344
It works there too.

According to commit grub2-git commit c30f378e00d3fde86de9fc48f4ec5a3d2a62fdea, apparently the feature was there since 2012, but was only announced in v2.04 in 2018, and the docs on how to use it (which, as you found it, @gyrog, is "initrd file1 file2 ...") was only updated in the above commit, dated Aug 8 2020 ...

and loading Puppy's initrd as a second initrd on top. I don't

[2021-06-20 19:44] CollaboratorGCM commented on #2344
In JamesBond's #3, 01Mick's response, and GyroG's findings: I think ALL agree at a "reimage" of init for boot. Now, its a mere mechanics as has been started by the opening stanza, here.

I think its a great approach to settle in on usings the world's GRUB2 latest release and the settling in on GRUB2-EFI as PUP's direction will make PUP/DOG distros one of the best(if not THE BEST) distro for system

[2021-06-21 01:11] gyrog commented on #2344
1. Does this have to be done every boot, or just once?
2. If it's every boot, then we could simply use a modified "initrd" line in 'grub.cfg' with microcode as first initrd file, simple. With a script like 'bootentry' that generates a bootentry to "stdout",  'grub.cfg' can easily be re-built. And it can be tested now, by manually editing a 'grub'cfg'.
3. If it's only once, then we could look at ge

[2021-06-21 03:05] jamesbond3142 commented on #2344
@01micko No worries, happy to share :+1:

@gyrog

Every boot.

Correct

You're thinking in the case of full install? The answer is yes.

[2021-06-21 05:48] dimkr opened #2348 "Bluetooth audio support in dpup"

[2021-06-21 06:22] peabee commented on #2344
@ozsouth has been providing microcode downloads and howto for some time.....
https://forum.puppylinux.com/viewtopic.php?f=104&t=1327

[2021-06-21 11:15] gyrog commented on #2344
FYI,
The following code works with 2 initrd files, or 1 initrd file:
+++++++++++
  if [ -e /puppy/upuphh/distro-initrd.gz ]; then
    echo "Loading distro-initrd.gz and initrd.gz"
    initrd /puppy/upuphh/distro-initrd.gz /puppy/upuphh/initrd.gz
  else
    echo "Loading initrd.gz"
    initrd /puppy/upuphh/initrd.gz
  fi
+++++++++++
We can easily produce a solution that has an optional initrd file

[2021-06-21 11:30] 01micko commented on #2344
But no AuthenticAMD.bin , not at least in the latest.

[2021-06-21 11:47] 01micko commented on #2344
Hmmm..

The files can be downloaded according to processor (at least with Intel). All 132 of them are just bloat when you only need 1 file.

[code]

[2021-06-21 15:15] gyrog commented on #2344
It's best if the downloaded microcode file is not "integrated" into any other Puppy file.
Not good to tie the release of new microcode for a users CPU, with a Puppy release.
If it's a standalone file in the same directory as the kernel file  then it's easily accessible to grub2.
If it's a standalone file in the same directory as the puppy...sfs then it's easily accessible to 'init' and a running P

[2021-06-21 19:42] 01micko commented on #2344
@gyrog that's why my OTF version, it takes only a second on a fast connection and because 1 file is only a matter of kilobytes - and mine is one of the larger blobs @ 100 kB. Of course internet connection must be up.

EDIT: we can also grok out the microcode file and version from the [intel releases](https://github.com/intel/Intel-Linux-Processor-Microcode-Data-Files/releases) page.
[code]
We can

[2021-06-22 08:35] 01micko commented on #2344
@gyrog @dimkr @jamesbond3142 @peabee @rizalmart

We have some design questions to answer.

1. Do we go with 2 initrd archives or do we copy the microcode to the existing initrd? This of course depends on if the bootloader can handle it. Either way they are upgradable.
2. Do we carry the microcode files in the `fdrv` or do we use something similar to my OTF code? (supports intel only ATM but AMD sh

[2021-06-22 09:09] rizalmart commented on #2344
My thoughts:
1. Don't ever touch the initrd. It make things more complicated. Microcode on separate initrd is good but you need to deal with configurations of different bootloaders
2. It depends but microcode frequently updates by cpu manufacturers
3. YES, late loading of microcode after switch_root for minimal vulnerabilities is safe bet.
4. Microcode loading is optional but gains advantage when

[2021-06-22 10:07] dimkr commented on #1715
Commit messages in this project are horrible! Many are `Update x` or `Create x` (maybe because people upload and edit files straight through GitHub instead of using an IDE or `git commit`). They're not informative and sometimes a single commit changes multiple, unrelated things. And in other cases, identical or related changes to multiple files (like mass find/replace on .desktop files) are one co

[2021-06-22 10:23] 01micko commented on #1715
There's an idea.

[2021-06-22 12:03] gyrog commented on #2344
"Don't ever touch the initrd. It make things more complicated." I could not disagree too strongly to this statement.
I've done an awful lot of changing the initrd.gz over the last few years, without any problems with the process.

Now to the questions:

4  The simplest form of a flag for loading or not loading microcode is the existence of the microcode file in the same directory as the kernel.
If

[2021-06-22 12:35] jamesbond3142 commented on #2344
My two cents.

As said earlier, my ideal preferred solution is to have 2 initrd. Fatdog doesn't do that way because rEFInd doesn't support it (and we use rEFInd in some scenarios), but if this is not a limitation for you, then best to go for it.

Here is my suggestion:
- Have microcode inside the 1st initrd. This ensures that some updates are already available even if we only load a single initrd.

[2021-06-22 23:31] CollaboratorGCM opened #2350 "Quickpet"
@mrfricks and others

Today, this utility is one means of providing "hot-fixes" to FossaPUP users.

As it may extend, in the future, to other PUPs, should it be a part of overall WoofCE? OR, should it have its own GIT for its extension(s)/development? OR, should it be a FossaPUP64 forum only utility?

Wondering on its merits and where to direct its offerings.

[2021-06-24 23:29] CollaboratorGCM opened #2352 "GRUB2"
Is this a good time to consider v2.06?
Is this a good time to add the BTRFS module?
Is this a good time to add the ZFS module?

I have no complaints in GRUB2 use: For it has run wonderfully over past 18 months of it being present. But this and GPArted's filesystem additions might be worth a look for OOTB WoofCE PUPs.

This thread need no response. If its appropriate, it will be incorporated in bot

[2021-06-25 10:56] 01micko commented on #2344
Quite successfully booting my AMD box with latest `ucode.cpio` using @gyrog 's grub2 stanza with appropriate editing

[code]

And works

[code]

[2021-06-25 13:01] gyrog commented on #2344
Is the microcode initrd always going to be called 'ucode.cpio'?

[2021-06-25 19:16] 01micko commented on #2344
Yes.

That's what the kernel doc says. It can be named anything.  But my test scripts have it hard coded. So I'll keep it, seems self explanatory to a ~geek~ developer I suppose.

EDIT: also note it can't be compressed with gz,xz or zst.

[2021-06-26 05:03] jamesbond3142 commented on #2344
I'd suggest you attach a timestamp as part of the filename so everyone knows when the microcode was pulled out. We called ours "microcode-update-20200905.cpio" for example.

[2021-06-26 05:05] jamesbond3142 commented on #2344
@01micko - your updated script in the first post has ```rm -rf```. Are you sure it's supposed to be there?

[2021-06-26 07:06] 01micko commented on #2344
No. Must have been a copy/paste typo. Thanks to the beauty of open source it is spotted early! Thanks!

I'm thinking more along the lines of a config file; I can grok out the timeline for intel from the github repo 'release'  page but amd I may have to record when the files were downloaded.

[2021-06-26 07:47] gyrog commented on #2344
Please keep the filename of the microcode initrd file constant.
We do not have "bash" or even "ash" scripting code available to detect the presence of this file,
just the scripting facilities available in grub2.
Of course this may be a lot more powerful than I give it credit for, but then documentation is rather minimal.

[2021-06-26 07:54] 01micko commented on #2344
My intention is to keep it constant, and record the timestamp in a config file.

[2021-06-26 09:32] dimkr opened #2355 "gir1.2-harfbuzz-0.0 is a missing dependency of gir1.2-pango-1.0 in dpup"
This could be a severe bug in resolvedeps.sh!

[2021-06-26 16:09] #2355 closed, assigned to nobody

[2021-06-26 16:09] #2348 closed, assigned to nobody

[2021-06-26 21:26] bigpup1 commented on #2352
Run Gparted program.
Look at the different file systems list, by going to view->File System Support.
Just because there is a file system.
There is other requirements to be able to fully use it.
Notice the required software that would need to be in Puppy.
Notice not everything possible in a file system, is easy to get working.

[2021-06-26 21:44] bigpup1 commented on #2350
Quickpet has been in every Puppy version 666philb has produced, from Tahrpup to Fossapup64 9.5
Yes, it is very easy to use and I wish others would use it, in there Puppy versions.
However, the people producing the other Puppy versions, would have to be willing to produce the fix files, that Quickpet uses and provide the pet packages, that it provides.
It would be their version of Quickpet for ther

[2021-06-26 21:49] bigpup1 commented on #2350
Quickpet has been in every Puppy version 666philb has produced, from Tahrpup to Fossapup64 9.5
Yes, it is very easy to use and I wish others would use it, in there Puppy versions.
However, the people producing the other Puppy versions, would have to be willing to produce the fix files, that Quickpet uses and provide the pet packages, that it provides.
It would be their version of Quickpet for ther

[2021-06-27 10:15] peabee commented on #2350
1. this would be a large amount of work.
2. the Quickpet "fix files" have to be applied on every new instance of the os and end up stored in the savefolder/savefile.
3. a much better approach IMHO is to reissue the .sfs with the changes permanently incorporated. This approach is easy to automate reducing developer workload!

[2021-06-27 10:29] gyrog commented on #2350
I would suggest a third option, use the "ydrv" as a "patch" layer.
So instead of a ".delta" for a whole ".iso",  only need a ".delta" for the "ydrv", or a complete new "ydrv".

[2021-06-27 10:57] peabee commented on #2350
Nice idea - but I struggle to see how it could be automated given the available tools - also would mean ydrv could not be used for other things - maybe a pdrv is needed? (+ bdrv etc.)

[2021-06-27 13:16] mrfricks opened #2361 "global default browser"
puppyapps sets the default browser. however some browsers i.e. palemoon can set itself as the default browser and it overrides our puppyapps one if different.

fossapup has xdg-mime from xdg-utils and has a modified puppyapps that sets the browser globaly.

lines 276-286
[code]

and the defaultbrowser-mime.desktop
[code]

now that the the problematic xdg-open is removed in 'packages-templates' xdg

[2021-06-27 16:06] dimkr commented on #2361
Duplicate of #2267?

[2021-06-27 16:27] mrfricks commented on #2361
hi @dimkr
no ....  but related in a way.

xdg-utils wasn't used in puppy because it contained xdg-open breaking puppys one, which you've now fixed in packages-templates 👍

the other stuff in xdg-utils is useful though such as xdg-mime.

case example....

launch palemoon and it asks you if you want to make it the default browser. if you tick yes it writes /root/.local/share/applications/userapp-Pal

[2021-06-28 08:24] peabee opened #2363 "dbus problem with latest woof-ce builds 27-june-2021"
In both Slacko64-8.2.2 and CagePup64 (details below) problem with dbus:
[code]
Welcome to Slacko64 Puppy version 8.2.2, released Jun 2021
BUILD_FROM_WOOF='testing;6649757;2021-06-27 17:35:10 +1000;ALTERNATE_BUILD=15.0;EXTRA_MERGE='

CagePup64
BUILD_FROM_WOOF='testing;a795917;2021-06-26 18:25:56 +0300;ALTERNATE_BUILD=bullseye64;EXTRA_MERGE='

[2021-06-28 09:58] peabee commented on #2363
@dimkr asked me to try running gvfsd-trash as spot..........
All I can report is that both gvfsd-trash and dbus-monitor --session do not produce error messages if run-as-spot....
[code]

[2021-06-28 10:24] dimkr commented on #2363
I wonder why applications running as root can't connect to spot's session bus. I'll do some `strace` to see what's going on.

I'll try to move these two lines (https://github.com/puppylinux-woof-CE/woof-CE/pull/2349/files#diff-8535880d33810dbedf207a6f3145c8fffea8aa4164bfaf2252eb0a9edffb84edR46) to `run-as-spot`, and see if Blueman and PulseAudio keep working.

[2021-07-01 11:54] sc0ttj commented on #2330
Is this because Puppys didn't used to include the ca-cert package that puts cert stuff in /etc/ ?

..cos I think all Puppys have them now, as [something I can't remember related to SSL] needs them..

Maybe we can just remove that param? ..I'd be happy to follow suit in Pkg, whatever the fix/change is here..

[2021-07-01 12:02] dimkr commented on #2330
Nope, it looks like the problem is Debian. APT is configured to use HTTP, and the HTTPS certificate is bad, at least in some mirrors. I closed the PR because it breaks dpup.

[2021-07-02 16:28] peabee commented on #2363
Hi @dimkr any further ideas on what the problem is and how to solve it? Thanks.

[2021-07-02 16:29] dimkr commented on #2363
@peabee I'll be able to debug this tomorrow and on Sunday.

[2021-07-03 08:28] dimkr commented on #2363
@peabee Please try #2368 - I see that Blueman runs in a VM but fails only because it doesn't find a Bluetooth adapter. I'll test on a physical machine later today, and it should work.

[2021-07-03 08:36] peabee commented on #2363
Report:
Made a ydrv to "patch" slacko64-8.2.2 with amended files .xinitrc & run-as-spot
then also installed LXDE as an adrv
All good - trash was back in PcManFM and gvfsd-trash ran without errors as did dbus-monitor --session & --system
Also checked that chromium64 (which is run-as-spot) worked - it did.
Limited tests of pulseaudio and sound seemed sane as well.
Seems fine to me in my tests.......

[2021-07-03 18:20] dimkr commented on #2344
Got early loading to work with efilinux, by putting ucode.cpio (built separately) in EFI/BOOT/ucode.cpio and modifying EFI/BOOT/efilinux.cfg from:

[code]

to:

[code]

[code]

[2021-07-03 20:45] #2363 closed, assigned to nobody

[2021-07-03 20:52] dimkr opened #2371 "fwupd support"
https://github.com/fwupd/fwupd

Debian Bullseye has it packaged, and it should be easy to run it periodically, or at least, wrap it with gtkdialog.

The motivation is similar to that of #2344.

[2021-07-04 09:54] gyrog opened #2372 "Many "?drv...sfs" files, another hack to the 'init' script"
I've just committed some patches to the 'init-experiment' branch.
This is also announced on the Puppy forum [here](https://forum.puppylinux.com/viewtopic.php?f=66&t=3370).

The point of this fairly large hack of 'init' is to change the way it sets-up the base stack using the ".sfs" files.
It processes each file completely one at a time, from begining with just an identifying letter, to the ".sfs"

[2021-07-04 10:21] gyrog commented on #2372
Patched 'rc.sysinit' now committed.

[2021-07-04 14:52] gyrog commented on #2372
Patched 'isoboot' so it works with this patched 'init' script.

[2021-07-05 11:52] 01micko commented on #2372
@gyrog I just pulled the branch `init-experiment` and merged in `testing` and there are no conflicts. I can either 'push' it here or wait until you are ready, or you can do it.

[code]

Just to refresh your memory :memo:

EDIT:

No problem, but keeping the `init-experiment` branch up to date with testing allows 'woofers' to build and test with the latest up to date builds.

[2021-07-05 12:53] gyrog commented on #2372
Thanks,
I get you point about keeping it up to date with 'testing' just in case anyone should try "woofing" it.

I had assumed that 'init-experiment' had long since bit the dust, but when I noticed it was still there, I thought it would be a good place to store this stuff so anyone can have easy access.

The project is still really at a "proof of concept" stage, and there are likely to be many fix